@import '@constants/colors.scss';
@import '@constants/typography.scss';
@import '@constants/media.scss';

.form-inline {
    label {
        display: inline-block !important;
    }
}

.formgroup {
    position: relative;
    width: 100%;

    label {
        display: block;
        font-family: $font-primary;
        margin-bottom: 2px;
        font-size: 14px;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 1rem;

        //handle responsive
        @include respond-to($small-screen) {
            font-size: 14px;
        }
    }

    // input type text and password default styles. Please feel free to customize as required
    input[type='text'],
    input[type='password'],
    textarea,
    .custom_select__control {
        font-size: 16px;
        font-family: $font-secondary;
        border-radius: 10px !important;
        background-color: #343837 !important;
        border: 1px solid rgb(233, 234, 240) !important;
        color: #fff;
        padding: 10px 20px;
        overflow: hidden;
        border: 1px solid $input-text-color !important;
        color: $light-info-color;
        border-color: $input-text-color;

        &::placeholder {
            font-size: 14px;
            color: $input-placeholder-color;
        }

        &:focus {
            outline: 1.5px solid $info-color;
        }

        //handle responsive
        @include respond-to($small-screen) {
            width: 270px;
            padding: 4px 5px;
            font-size: 14px;
        }

        @include respond-to($x-small-screen) {
            width: 100%;
            padding: 4px 5px;
            font-size: 14px;
        }
    }

    /* Chrome, Safari, Edge, Opera */
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }

    //use react select class prefix to select required elements within selector element
    .custom_select__control {
        padding: 0px;
        font-size: 16px;
        color: $info-color !important;

        &:hover {
            border-color: $info-color;
        }
    }

    // form control radio default styles
    .check-control {
        display: inline-block !important;
        margin-right: 10px;

        input {
            margin-right: 5px;
        }
    }

    // validation error message style
    .validation-error {
        font-family: $font-secondary;
        color: $danger-color;
        font-size: 12px;
        margin-top: 5px;
        position: absolute;
        bottom: -20px;
        left: 0px;

        //handle responsive
        @include respond-to($small-screen) {
            font-size: 12px;
        }
    }
}

.up-menu {
    z-index: 1000;
}

// Async select select styles
.custom_select__input {
    background-color: transparent !important;
}

.field-quill-control {
    .ql-toolbar {
        border: 0.8px solid rgba(233, 234, 240, 1);
        border-radius: 10px 10px 0 0;
    }

    .ql-container {
        border: 0.8px solid rgba(233, 234, 240, 1);
        border-radius: 0 0 10px 10px;
    }

    .ql-editor {
        min-height: 200px;
    }

    .ql-editing {
        left: 0px !important;
    }
}

.ag-overlay-no-rows-wrapper span {
    color: #fff;
}

.field-control:focus-visible, .field-select-control:focus-visible, .field-text-area-control:focus-visible {
    outline: 0px !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

 .new-page .dropdown-button .dropdown-toggle, .new-page  .custom_select__control .dropdown-toggle, .new-page .dropdown-button-fix .dropdown-toggle {
    padding: 10px 20px;
    color: #fff;
    background-color: #fff;
    background: #343837 !important;
}

 .new-page .dropdown-button .dropdown-toggle span, .new-page .custom_select__control .dropdown-toggle span, .new-page .dropdown-button-fix .dropdown-toggle span {
    color: #fff;
    -webkit-text-fill-color: #fff;
}

 .new-page .dropdown-button .dropdown-toggle img, .new-page .custom_select__control .dropdown-toggle img, .new-page  .dropdown-button-fix .dropdown-toggle img {
    filter: invert(1);
}


.new-page .field-control,.new-page .field-select-control{
    margin-bottom: 0 !important;
}

.new-page .formgroup label{
    margin-bottom: 16px;
}

.box-row > div {
    margin-bottom: 2rem;
}

.ql-editor.ql-blank::before {
    color: #fff;
}

.quill-editor {
    box-shadow: 0px 0px 14.86px 0px #0000000F;
    border-radius: 5px;
}

.box-row {
    margin: 2rem 0rem;
    border: 1px solid #fff;
    padding: 30px;
    border-radius: 16px;
}

 .formgroup input[type=text] {
    border: 0px !important;
}

.css-1i837h3-ValueContainer2 {
    max-height: 35px;
    overflow-y: scroll;
}

.field-control:focus-visible, .field-select-control:focus-visible, .field-text-area-control:focus-visible {
    outline: 0px !important;
    border: 1px solid rgba(3, 164, 194, 0.24) !important;
    color: inherit !important;
}


.ql-header[value="1"],
.ql-header[value="2"],
.ql-header[value="3"],
.ql-header[value="4"] {
    color: #444 !important;
    font-weight: bold !important; 
    fill: #444 !important;
}


.ql-header[value="1"]:hover,
.ql-header[value="2"]:hover,
.ql-header[value="3"]:hover,
.ql-header[value="4"]:hover {
   color: blue;  /* Light background on hover */
}

.ql-toolbar{
    background-color: white !important;
    border: none !important;
    border-bottom: 1px solid #E8EAF0 !important;
    padding: 17px;
}
.ql-container.ql-snow{
 border: none !important;
}

.resource-card {
    display: flex;
    align-items: center;
    background: #ffffff;
    transition: all 0.3s ease;
    gap: 10px;
  }
  
  .fr{
    float: right !important;
  }

  .resource-image {
    object-fit: cover;
    height: 25px;
    width: 25px;
    border-radius: 2px;

  }
  
  .resource-title {
    font-size: 12px;
    font-weight: 500;
    color: #333;
  }

.quill.field-quill-control{
    background: white !important;
    border: none !important;
}
.new-resource-main-card{
    border:none !important
}

.transcript-wrapper.active .subhead {
    transform: translateY(-10px);
  }

  .quill-editor {
    box-shadow: 0px 0px 14.86px 0px #0000000F;
    border-radius: 5px;
}

.field-quill-control .ql-editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 17px 30px 0px;
}
.new-resource-main-card{
    padding: 0px 30px 30px;

    .card-body{
        padding: 0;
    }
}

.course-right .formgroup label {
    display: none;
}

@media only screen and (max-width:767px) {
    .box-row > div {
        margin-bottom: 0rem;
    }
    .new-page .formgroup label {
        margin-bottom: 10px;
    }
    }


    