@import '@constants/colors.scss';
@import '@constants/typography.scss';
@import '@constants/media.scss';
.auth-main-wrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
 
    
}
.auth-logo{
    width: 202px;
    height: 44px;
    object-fit: contain;
    margin-top: 49px;
    margin-left: 57px;

    @include respond-to($medium-screen) {
        width: 150px;
        height: 40px;
        margin-bottom: 20px;
        
    }
}
.auth-title{
    font-family: $font-secondary;
    font-size: 28px;
    color: $heading-color;
    font-weight: $font-weight-bold;
    @include respond-to($medium-screen) {
        font-size: 18px;
    }
}


.auth-form-title{
    font-family: $font-primary;
    font-size: 14px;
    line-height: 26px;
    margin-top: 24px;
    color: $secondary-color;
    @include respond-to($medium-screen) {
        font-size: 12px;
    }
   
}

.auth-form-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    @include respond-to($large-screen) {
        margin-top: 20px;
    }
  }
.auth-bottom-text{
    font-family: $font-secondary;
    color: $secondary-color;
    font-size: 18px;
   display: flex;
    @include respond-to($large-screen) {
        font-size: 16px;
    }
    @include respond-to($medium-screen) {
        font-size: 14px;
    }
}
.auth-link{
    font-size: 18px;
    font-family: $font-secondary;
    color: $primary-color;
    @include respond-to($large-screen) {
        font-size: 16px;
    }
    @include respond-to($medium-screen) {
        font-size: 14px;
    }
}

.auth-form-data{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.auth-login-button{
    width: 473px;
    height: 55px;
    margin-block: 28px;
    font-size: 18px;
    border-radius: 80px;
    background: linear-gradient(90.19deg, #00C7CC -0.27%, #009CD8 99.11%);
    @include respond-to($large-screen) {
        font-size: 16px;
    }
    @include respond-to($medium-screen) {
        font-size: 14px;

    }
    @include respond-to($small-screen) {
        font-size: 14px;
    width: 270px;

    }

}
.auth-left-bg-column {
    background-image: url('@images/login_img.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond-to($medium-screen){
        display: none;

            }
    
}

.auth-left-header-mob{
    display: flex;
   width: 100%;
    justify-content: center;
    display: none;
    position: absolute;
    top: 0;
    background-color: #000907;
    @include respond-to($medium-screen){
display: block;

    }
}
.auth-left-footer{
padding-bottom: 80px;
}
.auth-social-logo{
    width: 34px;
    height: 34px;
}

.auth-left-footer{
    display: flex;
    gap:12px
}


.input-password-container {
    position: relative;
}

.eye-icon-password {
    position: absolute;
    top: 64%;
    right: 4%; 
    transform: translateY(-50%);
    cursor: pointer;
}


