@import '@constants/colors.scss';
@import '@constants/typography.scss';
@import '@constants/media.scss';

.auth-main-wrapper {
        max-width: 1620px;
        margin: auto;
    
    //code for input foield updations
    .formgroup {
        position: relative;
        margin: 10px 0px 22px 0px;
        width: 100%;

        label {
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 600;
            @include respond-to($small-screen) {
                font-size: 14px;
            }
        }
    }

    input[type='text'],
    input[type='password'],
    input[type='number'],
    textarea,
    .custom_select__control,input:-webkit-autofill {
        border-radius: 50px;
        padding:10px 15px;
        width: 100%;
        display: inline-block;
        border: 1px solid #01BDCF14 !important;
        box-shadow: 0px 0px 7px 0px #FFFFFF3D inset;
        background-color: transparent !important;
        outline: 1.5px solid $info-color;
        color:#fff;
        @include respond-to($small-screen) {
            font-size: 14px;
        }
        &::placeholder {
            color: #FFFFFFA3;
        }
        &:focus {
            outline: 1.5px solid $info-color;
        }
    }
    /* Chrome, Safari, Edge, Opera */
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

.auth-title {
    font-family: $font-secondary;
    font-size: 2.6rem;
    color: $heading-color;
    font-weight: $font-weight-bold;
    @include respond-to($medium-screen) {
        font-size: 1.6rem;
    }
}

.auth-form-title {
    font-family: $font-primary;
    font-size: $font-size-medium;
    line-height: 26px;
    color: #8e8e8e;
    margin-bottom: 20px;
    @include respond-to($medium-screen) {
        font-size: 12px;
    }
}

.auth-form-wrapper {
    height: 100%;
}
.footer-static {
    color: #fff;
    margin-top:40px;
    text-align: center;
}

.verification-input {
    display: flex;
    flex-direction: column;
    .formgroup {
        margin-bottom: 0px;
        margin-top: 2px;
    }
    .resend-code {
        text-align: end;
        font-family: $font-primary;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        color: #2da5f3;
        margin-top: 10px;
    }
}

.auth-bottom-text {
    font-family: $font-secondary;
    color: $secondary-color;
    font-size: 18px;
    display: flex;
    @include respond-to($large-screen) {
        font-size: 16px;
    }
    @include respond-to($medium-screen) {
        font-size: 14px;
    }
}
.auth-link {
    font-size: 14px;
    font-family: $font-secondary;
    color: $primary-color;
    @include respond-to($large-screen) {
        font-size: 16px;
    }
    @include respond-to($medium-screen) {
        font-size: 14px;
    }
}

.auth-form-data {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.auth-login-button {
    font-size: 18px;
    border-radius: 80px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    border: none;
    @include pagination-gradient;
    @include respond-to($large-screen) {
        font-size: 16px;
    }
    @include respond-to($medium-screen) {
        font-size: 14px;
    }
    @include respond-to($small-screen) {
        font-size: 14px;
    }
}
.back-btn {
    background-color: transparent !important;
    border: none !important;
    color: #000907 !important;
    width: 473px;
    height: 55px;
}
.auth-left-bg-column {
    // background-image: url('@images/coaching-dashboard-transparent.png');
    // background-size: cover;
    // background-position: center;
    // height: 100vh;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
}

.auth-left-header-mob {
    display: flex;
    justify-content: center;
    @include respond-to($medium-screen) {
        display: block;
    }
}

.input-password-container {
    position: relative;
}

.eye-icon-password {
    position: absolute;
    top: 67%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
}

.submit-btn,
.cancel-btn {
    border-radius: 59px;
    font-weight: 400;
    white-space: nowrap;
    border: none;
}
.submit-btn {
    color: #ffff;
    padding: 10px 20px;
    @include pagination-gradient;
}
//login page additioal css
// .auth-input-custom-updation {
//     .formgroup {
//         position: relative;

//         margin: 10px 0px 22px 0px;
//         width: 100%;

//         label {
//             font-size: 14px;

//             @include respond-to($small-screen) {
//                 font-size: 12px;
//             }
//         }
//     }

//     input[type='text'],
//     input[type='password'],
//     textarea,
//     .custom_select__control {
//         border-radius: 50px;

//         border: 1.34px solid $input-border-color;

//         color: $secondary-color;

//         border-color: $input-border-color;

//         width: 474px;

//         height: 55px;
//         @include respond-to($small-screen) {
//             font-size: 12px;
//             width: 270px;
//         }
//         &::placeholder {
//             color: $input-placeholder-color;
//         }
//     }
// }

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
    justify-content: space-between;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.auth-left-footer {
    gap: 20px;
    display: flex;
}

.login-center {
    background-color: #00000099;
    padding: 40px;
    box-shadow: 0px 0px 14px 0px #00C7CC inset;
    border-radius: 20px;
    background-image: url('@images/login-center.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 500px;
    margin: auto;
    flex: 0 !important;
}

.login-center img {
    height: auto;
    max-width: 100%;
}

.layout_public:has(.auth-main-wrapper) {
    background-image: url("/src/assets/images/login2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    opacity: 70%;
    background-blend-mode: overlay;
    min-height: 100vh;
}

// .auth-form-data {
//     padding-left: 60px;
// }

.auth-form-data * {
    color: #fff;
}

.auth-form-data form {
    width: 100%;
}

.back-btn.white{
    color:#fff !important;
    width: 100%;
}

.auth-form-data{
    flex-wrap: wrap;
}

@media only screen and (max-width:1199px) {
    .login-center {
        border-radius: 20px;
    } 
}

@media only screen and (max-width:991px) {

    .auth-main-wrapper .formgroup {
        margin: 10px 0px 15px 0px;
    }
    .auth-main-wrapper input[type=text], .auth-main-wrapper input[type=password], .auth-main-wrapper input[type=number], .auth-main-wrapper textarea, .auth-main-wrapper .custom_select__control, .auth-main-wrapper input:-webkit-autofill {
        padding: 8px 10px;
    }

    .auth-form-title {
        margin-bottom: 10px;
    }

    .auth-main-wrapper .formgroup label {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .top-bar .auth-left-header-mob img {
    max-width: 200px;
}
.auth-left-footer img {
    max-width: 40px;
}
.auth-left-footer {
    gap: 10px;
}
}


@media only screen and (max-width:767px) {
.left-img {
    display: none;
}

.login-page {
    padding: 15px;
}
.top-bar .auth-left-header-mob img {
    max-width: 150px;
}
.login-center {
    max-width: 100%;
    padding: 30px 20px;
    width: 100%;
}
.footer-static {
    margin-top: 20px;
    font-size: 14px;
}

}

@media only screen and (max-width:575px) {
.login-center {
    min-width: 100%;
}
}