@import '@constants/colors.scss';
@import '@constants/typography.scss';
@import '@constants/media.scss';

.main-panel {
    position: relative;
    float: right;
    width: calc(100% - 250px); // total width minus sidebar width
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    background-color: #1d2120;

    .main-content-wrapper {
        padding: 15px 25px;
        // min-height: calc(100vh - 123px);
        max-width: 2560px;
        margin-left: auto;
        margin-right: auto;
        background-color: #1d2120;
        margin-top: 1rem;

        @media (max-width: $medium-screen) {
            & {
                padding: 15px 15px !important;
            }
        }
    }
}

.full-width-panel {
    width: calc(100% - 70px);
}

.hide-sidebar a span {
    display: none;
}

.sidebar .nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: left;
}

.hide-sidebar .nav a {
    width: max-content !important;
}

.sidebar .side-nav-wrapper {
    width: 100%;
}

.sidebar .side-nav-wrapper .sidebar-nav-items a {
    margin: 0;
}

.sidebar.hide-sidebar .side-nav-wrapper .sidebar-nav-items a .side-nav-icon {
    margin: 0;
}

.sidebar.hidesidebar .side-nav-wrapper .sidebar-nav-items .active-item {
    padding: 0px;
    height: 40px;
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-panel {
    min-height: 100vh;
}

.main-panel .main-content-wrapper>div {
    max-width: 1440px;
    margin: auto;
}

.main-panel .main-content-wrapper:has(.course-top) .publish-course-wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 40px 30px 30px;
}

.full-width {
    max-width: 100% !important;
}

.main-panel:has(.full-width) .main-content-wrapper {
    padding: 44px 30px !important;
}

@media only screen and (max-width:1499px) {
    .main-panel .main-content-wrapper>div {
        max-width: 1100px;
        margin: auto;
    }

    .main-panel .main-content-wrapper:has(.course-top) .publish-course-wrapper {
        max-width: 1100px;
        padding: 30px 30px;
    }

}

@media only screen and (max-width:767px) {

    .main-panel,
    .full-width-panel {
        width: 100%;
    }

    .main-panel .main-content-wrapper:has(.course-top) .publish-course-wrapper {
        width: 100%;
    }

    .main-panel .main-content-wrapper:has(.course-top) .publish-course-wrapper,
    .main-panel:has(.full-width) .main-content-wrapper {
        padding: 20px !important;
    }

    .sidebar .side-bar-profile .profile-name {
        display: none;
    }

    .sidebar .side-bar-profile .profile-wrapper .profile-pic {
        height: 35px;
        width: 35px;
    }

    .sidebar .side-bar-btm .active-item.logout-btn span {
        display: none;
    }

    .sidebar .brand-logo .sub-logo {
        margin: 0;
    }

    .sidebar .brand-logo .sub-logo{
        display: block;
    }

    .sidebar.hide-sidebar .brand-logo,.sidebar .brand-logo  {
        padding:35px 0px;
        margin: 0;
    }
    .sidebar .side-nav-wrapper {
        height: calc(100vh - 104px);
    }

    .sidebar .nav, .sidebar.hide-sidebar .nav {
        align-items: center;
    }

}