@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// Font Family
$font-primary: 'Inter', Arial, sans-serif;
$font-secondary: 'Inter', Arial, sans-serif;

// Font Size
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-extra-large: 18px;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Line Height
$line-height-small: 1.2;
$line-height-medium: 1.5;
$line-height-large: 1.8;
$line-height-extra-large: 2;
