@import '@constants/colors.scss';
@import '@constants/media.scss';

.coaches-page {
    box-shadow: 0px 0px 14.83px 0px rgba(0, 0, 0, 0.06);
    border-radius: 9px;

    // Fix the table height
    .action-button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;

        &:hover {
            border: none !important;
        }

        .action-icon {
            width: 20px;
            height: 20px;
        }
    }

    .avatar-image {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
    }

    .edit-button {
        transition: all 0.5s ease-in-out;

        &:hover {
            border: 1px solid $info-color;
        }
    }

    .delete-button {
        transition: all 0.5s ease-in-out;

        &:hover {
            border: 1px solid $danger-color;
        }
    }
}

.new-coach-page-wrapper {
    .new-coach-page {
        // height: calc(100vh - 14rem);
        // overflow-y: scroll;
        margin-top: 2rem;
        box-shadow: 0px 0px 14.83px 0px rgba(0, 0, 0, 0.06);
        border-radius: 9px;

        .new-coach-title {
            font-family: Inter;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
            // color: rgba(0, 43, 91, 1);
            background: linear-gradient(180deg, #00C7CC 0%, #009CD8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        .custom_select__control {
            border: 0.8px solid rgba(233, 234, 240, 1) !important;
            border-radius: 59px;
        }

        .custom_select__placeholder {
            color: rgba(148, 148, 148, 1) !important;
            padding: 0px 10px;
        }

        .custom_select__control:focus-visible {
            outline-color: rgba(146, 159, 165, 1) !important;
            color: rgba(71, 81, 86, 1);
        }

        .field-quill-control {
            .ql-toolbar {
                border: 0.8px solid rgba(233, 234, 240, 1);
                border-radius: 10px 10px 0 0;
            }

            .ql-container {
                border: 0.8px solid rgba(233, 234, 240, 1);
                border-radius: 0 0 10px 10px;
            }

            .ql-editor {
                min-height: 200px;
            }

            .ql-editing {
                left: 0px !important;
            }
        }

        .label-light {
            font-size: 14px;
            font-weight: 600;
            line-height: 13.8px;
            text-align: left;
            color: rgba(95, 108, 114, 1);
        }

        .image-preview {
            display: flex;
            justify-content: start;
            cursor: pointer;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            border: 1px solid rgba(255, 255, 255, 0.5019607843)!important;
            border-radius: 10px;
            padding: 20px 10px;
            color: rgba(110, 116, 133, 1);
            span{
                color: #fff;
            }

            // Events screen btn
            .upload-image-btn {
                border-radius: 59px;
                font-weight: 400;
                white-space: nowrap;
                border: none;
                padding: 10px 30px;
                background: rgba(204, 236, 247, 1);
                color: rgba(1, 158, 216, 1);
                margin-top: 1rem;
            }
        }

        .image-renderer {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.5rem;
            padding: 20px 10px;
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 10px;
            color: rgb(38, 54, 99);

            img {
                width: 85px;
                height: 85px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .error {
            color: $danger-color;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
        }
    }

    // student-taught-wrapper
    .student-taught-wrapper {
        font-family: Inter;
        color: rgba(25, 28, 31, 1);
        border: 0.8px solid rgba(233, 234, 240, 1);
        border-radius: 16px;
        padding: 20px;
        min-height: 116px;
        margin-bottom: 1rem;

        .total {
            color: rgba(28, 28, 28, 0.4);
            margin-right: 0.5rem;
        }

        .data-value {
            color: rgba(28, 28, 28, 1);
            //styleName: 14 Regular;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            display: inline-block;
            background: rgba(248, 248, 248, 1);
            border-radius: 59px;
            padding: 10px 20px;
            margin: 0rem 1rem 1rem 0rem;
        }
    }

    // Roadmap mapping
    .course-roadmap-wrapper {
        font-family: Inter;
        color: rgba(25, 28, 31, 1);
        border: 0.8px solid rgba(233, 234, 240, 1);
        border-radius: 16px;
        padding: 20px;
        min-height: 116px;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width:767px) {
.new-coach-page-wrapper .new-coach-page .new-coach-title{
    font-size: 1.6rem;
}

}