@import '@constants/colors.scss';
@import '@constants/media.scss';

.coaches-page {
    box-shadow: 0px 0px 14.83px 0px rgba(0, 0, 0, 0.06);
    border-radius: 9px;
    // Fix the table height
    .action-button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        &:hover {
            border: none !important;
        }
        .action-icon {
            width: 20px;
            height: 20px;
        }
    }
    .avatar {
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    .edit-button {
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 1px solid $info-color;
        }
    }
    .delete-button {
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 1px solid $danger-color;
        }
    }
    .add-button {
        @include pagination-gradient;
        border-radius: 59px;
        color: #ffff;
        font-weight: 400;
        white-space: nowrap;
    }

    @media (max-width: $medium-screen) {
        .add-button {
            margin-top: 0.5rem;
        }
    }

    // Delete model custom styles
}

.new-coach-page-wrapper {
    .title-top {
        text-align: left;
        color: rgba(95, 108, 114, 1);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        background: rgba(242, 244, 245, 1);
        padding: 10px 20px;
        border-radius: 12px;
        margin-bottom: 0.5rem;
        opacity: 0px;
    }
    .new-coach-page {
        height: calc(100vh - 14rem);
        overflow-y: scroll;
        box-shadow: 0px 0px 14.83px 0px rgba(0, 0, 0, 0.06);
        border-radius: 9px;
        // Fix the table height
        .action-button {
            cursor: pointer;
            &:hover {
                border: none !important;
            }
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            .action-icon {
                width: 20px;
                height: 20px;
            }
        }
        .avatar {
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .edit-button {
            transition: all 0.5s ease-in-out;
            &:hover {
                border: 1px solid $info-color;
            }
        }
        .delete-button {
            transition: all 0.5s ease-in-out;
            &:hover {
                border: 1px solid $danger-color;
            }
        }
        .submit-btn,
        .cancel-btn {
            border-radius: 59px;
            font-weight: 400;
            white-space: nowrap;
            border: none;
        }
        .submit-btn {
            color: #ffff;
            padding: 10px 30px;
            @include pagination-gradient;
        }
        .custom-width {
            padding: 10px 50px;
        }

        .cancel-btn {
            padding: 10px 40px;
            background-color: transparent !important;
            color: black;
            border: 1px solid rgba(233, 234, 240, 1);
        }

        .new-coach-title {
            font-family: Inter;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.78px;
            text-align: left;
            color: rgba(0, 43, 91, 1);
        }

        .field-label {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            text-transform: capitalize;
            color: rgba(25, 28, 31, 1);
        }
        // Fields
        .field-control,
        .field-select-control {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            color: rgba(25, 28, 31, 1);
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 50px;
            padding: 10px 20px;
            width: 100%;
            margin-bottom: 0.5rem;
        }
        // on active or focus the border and color should be bold
        .field-control:focus-visible,
        .field-select-control:focus-visible {
            outline-color: rgba(146, 159, 165, 1) !important;
            color: rgba(71, 81, 86, 1);
        }
        .field-control::placeholder,
        .field-select-control::placeholder {
            color: rgba(146, 159, 165, 1);
        }
        // Select
        .field-select-control {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url('data:image/svg+xml;utf8,<svg fill="rgba(146, 159, 165, 1)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>')
                no-repeat;
            background-position: right 20px top 50%;
            background-size: 20px;
            padding: 12px 20px;
            cursor: pointer;
            width: 100%;
        }

        .custom_select__control {
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 59px;
        }
        .custom_select__control:focus-visible {
            outline-color: rgba(146, 159, 165, 1) !important;
            color: rgba(71, 81, 86, 1);
        }

        .field-quill-control {
            .ql-toolbar {
                border: 0.8px solid rgba(233, 234, 240, 1);
                border-radius: 10px 10px 0 0;
                order: -1;
            }
            .ql-container {
                border: 0.8px solid rgba(233, 234, 240, 1);
                border-radius: 0 0 10px 10px;
                min-height: 200px;
            }
        }

        .label-light {
            font-size: 14px;
            font-weight: 600;
            line-height: 13.8px;
            text-align: left;
            color: rgba(95, 108, 114, 1);
        }

        .image-preview {
            display: flex;
            justify-content: start;
            cursor: pointer;
            align-items: center;
            gap: 0.5rem;
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 10px;
            padding: 20px 10px;
            color: rgba(110, 116, 133, 1);
            // Events screen btn
            .upload-image-btn {
                border-radius: 59px;
                font-weight: 400;
                white-space: nowrap;
                border: none;
                padding: 10px 30px;
                background: rgba(204, 236, 247, 1);
                color: rgba(1, 158, 216, 1);
                margin-top: 1rem;
            }
        }
        .image-renderer {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.5rem;
            padding: 20px 10px;
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 10px;
            color: rgb(38, 54, 99);
            img {
                width: 85px;
                height: 85px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .error {
            color: $danger-color;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
        }
    }
}
