@import '@constants/colors.scss';
@import '@constants/media.scss';
@import '@constants/typography.scss';

// This is the common styles file that will be used across the application. This file will contain the common styles that will be used across the application.

// Buttons
.dropdown-button,
.custom_select__control,
.dropdown-button-fix {
    .dropdown-toggle {
        border-radius: 59px;
        font-weight: 400;
        white-space: nowrap;
        background-color: transparent !important;
        border: rgba(233, 234, 240, 1) 1px solid !important;
        color: rgba(25, 28, 31, 1) !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        border: none;
        width: 100%;

        &:active {
            color: rgba(148, 148, 148, 1);
        }

        &::after {
            display: none;
        }

        & > div {
            width: 100%;
        }
    }

    .dropdown-menu {
        width: 100%;
        overflow: hidden;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.37);
        background-color: white !important;
        max-height: 254px;
        overflow-y: auto;

        .avatar {
            width: 20px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.5rem;
        }

        .avatar-student {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.5rem;
        }

        .coach-name,
        .country-name,
        .event-name,
        .payment-name,
        .category-name,
        .event-name {
            font-size: small;
            color: rgba(85, 95, 126, 1);
        }
    }

    .custom_select__multi-value {
        border-radius: 60px;
        padding: 0px 10px;
        background: rgba(242, 248, 255, 1);
    }
}
.custom_select__control {
    border-radius: unset !important;
}
// Action Buttons
.action-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
        border: none !important;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    .action-icon {
        width: 20px;
        height: 20px;
    }
}
.edit-button {
    transition: all 0.5s ease-in-out;
    &:hover {
        border: 1px solid $info-color;
    }
}
.delete-button {
    transition: all 0.5s ease-in-out;
    &:hover {
        border: 1px solid $danger-color;
    }
}
.add-button {
    @include pagination-gradient;
    border-radius: 59px;
    color: #ffff !important;
    padding: 5px 20px;
    font-weight: 400;
    white-space: nowrap;
    border: none !important;
}

.submit-btn,
.cancel-btn {
    border-radius: 59px;
    font-weight: 400;
    white-space: nowrap;
    border: none;
}
.submit-btn {
    color: #ffff !important;
    padding: 10px 30px;
    @include pagination-gradient;
}
.custom-width {
    padding: 10px 50px;
}

.cancel-btn {
    padding: 10px 40px;
    background-color: transparent !important;
    color: black !important;
    border: 1px solid rgba(233, 234, 240, 1) !important;
}

.filter-button {
    background-color: transparent;
    border-radius: 59px;
    color: rgba(148, 148, 148, 1);
    font-weight: 400;
    white-space: nowrap;
    border: rgba(148, 148, 148, 1) 1px solid !important;
}

// Toggle button
.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    &:hover {
        border: none !important;
    }
    .form-check-input {
        width: 60px;
        height: 30px;
        &:checked {
            background-color: $info-color !important;
            border-color: $info-color !important;
        }
    }
}

// Avatar
.avatar {
    width: 40px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

// Bread crumbs title
.title-top {
    text-align: left;
    color: rgba(95, 108, 114, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    background: rgba(242, 244, 245, 1);
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    opacity: 0px;
}

// Fields, Selects

.field-label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    text-transform: capitalize;
    color: rgba(25, 28, 31, 1);
}
// Fields
.field-control,
.field-select-control {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: rgba(25, 28, 31, 1) !important;
    border: 0.8px solid rgba(233, 234, 240, 1) !important;
    border-radius: 50px;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 0.5rem;
}
// on active or focus the border and color should be bold
.field-control:focus-visible,
.field-select-control:focus-visible,
.field-text-area-control:focus-visible {
    outline-color: rgba(233, 234, 240, 1) !important;
    border: 0.8px solid rgba(233, 234, 240, 1) !important;
    color: rgba(71, 81, 86, 1);
}
.field-control::placeholder,
.field-select-control::placeholder,
.field-text-area-control::placeholder {
    color: rgba(146, 159, 165, 1) !important;
}
// Select
.field-select-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="rgba(146, 159, 165, 1)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>')
        no-repeat;
    background-position: right 20px top 50%;
    background-size: 20px;
    padding: 12px 20px;
    cursor: pointer;
    width: 100%;
}

// Text Area
.field-text-area-control {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: rgba(25, 28, 31, 1);
    border: 0.8px solid rgba(233, 234, 240, 1);
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 0.5rem;
}

// Error of fields

.error {
    color: $danger-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

// Image Preview Styles
.image-preview {
    display: flex;
    justify-content: start;
    cursor: pointer;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    border: 0.8px solid rgba(233, 234, 240, 1);
    border-radius: 10px;
    padding: 20px 10px;
    color: rgba(110, 116, 133, 1);
    // Events screen btn
    .upload-image-btn {
        border-radius: 59px;
        font-weight: 400;
        white-space: nowrap;
        border: none;
        padding: 10px 30px;
        background: rgba(204, 236, 247, 1);
        color: rgba(1, 158, 216, 1);
        margin-top: 1rem;
    }
}

.image-renderer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    padding: 20px 10px;
    border: 0.8px solid rgba(233, 234, 240, 1);
    border-radius: 10px;
    color: rgb(38, 54, 99);
    img {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        object-fit: cover;
    }
}

// Media styles
@media (max-width: $medium-screen) {
    .add-button {
    }
}
