@import '@constants/colors.scss';
@import '@constants/media.scss';
@import '@constants/typography.scss';

// This is the common styles file that will be used across the application. This file will contain the common styles that will be used across the application.

// Buttons
.dropdown-button,
.custom_select__control,
.dropdown-button-fix {
    .dropdown-toggle {
        border-radius: 59px;
        font-weight: 400;
        white-space: nowrap;
        background-color: transparent !important;
        border: rgba(233, 234, 240, 1) 1px solid !important;
        background: linear-gradient(180deg, #00C7CC 0%, #009CD8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        border: none;
        width: 100%;
        // Add extra height to match the default input
        height: 100% !important;

        &:active {
            color: rgba(148, 148, 148, 1);
        }

        &::after {
            display: none;
        }

        & > div {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            padding: 5px 8px; 
        }
    }

    .dropdown-menu {
        width: 100%;
        overflow: hidden;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.37);
        background-color: white !important;
        max-height: 254px;
        overflow-y: auto;

        .avatar {
            width: 20px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.5rem;
        }

        .avatar-student {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.5rem;
        }

        .coach-name,
        .country-name,
        .event-name,
        .payment-name,
        .category-name,
        .event-name {
            font-size: small;
            color: rgba(85, 95, 126, 1);
            display: inline-block;
            max-width: 80px;
        }
    }

    .custom_select__multi-value {
        border-radius: 60px;
        padding: 0px 10px;
        // background: rgba(242, 248, 255, 1);
    }
}

.custom_select__control {
    border-radius: unset !important;
}
// Action Buttons
.action-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
        border: none !important;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    .action-icon {
        width: 20px;
        height: 20px;
    }
}
.edit-button {
    transition: all 0.5s ease-in-out;
    &:hover {
        border: 1px solid $info-color;
    }
}
.delete-button {
    transition: all 0.5s ease-in-out;
    &:hover {
        border: 1px solid $danger-color;
    }
}
.add-button {
    @include pagination-gradient;
    border-radius: 59px;
    color: #ffff !important;
    padding: 5px 20px;
    font-weight: 400;
    white-space: nowrap;
    border: none !important;
}

.submit-btn,
.cancel-btn {
    border-radius: 59px;
    font-weight: 400;
    white-space: nowrap;
    border: none;
}
.submit-btn {
    color: #ffff !important;
    padding: 10px 30px;
    @include pagination-gradient;
}
.custom-width {
    padding: 10px 50px;
}

.cancel-btn {
    padding: 10px 40px;
    background-color: transparent !important;
    // color: black !important;
    color: #fff;
    border: 1px solid rgba(233, 234, 240, 1) !important;
}
.filter-button {
    background-color: transparent;
    border-radius: 59px;
    color: rgba(148, 148, 148, 1);
    font-weight: 400;
    white-space: nowrap;
    border: rgba(148, 148, 148, 1) 1px solid !important;
}

// Toggle button
.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    &:hover {
        border: none !important;
    }
    .form-check-input {
        width: 60px;
        height: 30px;
        &:checked {
            background-color: $info-color !important;
            border-color: $info-color !important;
        }
    }
}

// Avatar
.avatar {
    width: 40px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

// Bread crumbs title
.title-top {
    text-align: left;
    color: rgba(95, 108, 114, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    background: rgba(242, 244, 245, 1);
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    opacity: 0px;
}
.title-top {
background-color: rgba(255, 255, 255, 0.1019607843) !important;
// border: 1px solid rgb(233, 234, 240) !important;
color: #fff;
}
// Fields, Selects

.field-label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    text-transform: capitalize;
    // color: rgba(25, 28, 31, 1);
    color: #fff;
    margin-bottom: 1rem;
}
// Fields
.field-control,
.field-select-control {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    // color: rgba(25, 28, 31, 1) !important;
    // border: 0.8px solid rgba(233, 234, 240, 1) !important;
    border-radius: 50px;
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #343837!important;
    border: 1px solid rgb(233, 234, 240) !important;
    color: #fff;
}
.field-control-phone-mask {
    font-family: Inter;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #fff !important;
    background-color: #343837!important;
    border: 0.8px solid rgba(233, 234, 240, 1) !important;
    border-radius: 50px !important;
    width: 100% !important;
    padding: 15px 20px;
    // height: 39px !important;
}

.field-control-phone-mask:focus {
    outline-color: rgba(233, 234, 240, 1) !important;
    border: 0.8px solid rgba(233, 234, 240, 1) !important;
    color: rgba(71, 81, 86, 1) !important;
    box-shadow: none !important;
}

// on active or focus the border and color should be bold
.field-control:focus-visible,
.field-select-control:focus-visible,
.field-text-area-control:focus-visible {
    outline-color: rgba(233, 234, 240, 1) !important;
    border: 0.8px solid rgba(233, 234, 240, 1) !important;
    color: rgba(71, 81, 86, 1);
}
.field-control::placeholder,
.field-select-control::placeholder,
.field-text-area-control::placeholder {
    color: rgba(146, 159, 165, 1) !important;
}
// Select
.field-select-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="rgba(146, 159, 165, 1)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>')
        no-repeat;
    background-position: right 20px top 50%;
    background-size: 20px;
    padding: 12px 20px;
    cursor: pointer;
    width: 100%;
}

// Text Area
.field-text-area-control {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: rgba(25, 28, 31, 1);
    border: 0.8px solid rgba(233, 234, 240, 1);
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 0.5rem;
}

// Error of fields

.error {
    color: $danger-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.add-quiz-fields .add-quiz-question .quiz-multiple-choice input[type='text'] {
    &.correctAnswer {
        background-color: $success-color !important;
        color: white !important;
    }
    &.correctAnswer::placeholder {
        color: white !important;
    }
}

.correctAnswer {
    background-color: $success-color !important;
    color: black !important;
}

// Media styles
@media (max-width: $large-screen) {
    .responsive-btn {
        margin-top: 0.5rem !important;
    }
}

.no-data-wrapper {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
    padding: 10px;
}

.hr-text {
    border: 0;
    line-height: 1em;
    position: relative;
    text-align: center;
    height: 1.5em;
    font-size: 14px;
    margin: 20px;
}

.hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, black, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    content: attr(data-content);
    position: relative;
    padding: 0 7px;
    line-height: 1.5em;
    color: black !important;
    font-weight: 500;
    background-color: white;
}

.reset-image {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer !important;
}

.students-page .edit-button .action-icon {
    filter: invert(1);
}

.ag-overlay-no-rows-wrapper span {
    color: #fff;
}

.field-control:focus-visible, .field-select-control:focus-visible, .field-text-area-control:focus-visible {
    outline: 0px !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

 .new-page .dropdown-button .dropdown-toggle, .new-page  .custom_select__control .dropdown-toggle, .new-page .dropdown-button-fix .dropdown-toggle {
    padding: 10px 20px;
    color: #fff;
    background-color: #fff;
    background: #343837 !important;
}

 .new-page .dropdown-button .dropdown-toggle span, .new-page .custom_select__control .dropdown-toggle span, .new-page .dropdown-button-fix .dropdown-toggle span {
    color: #fff;
    -webkit-text-fill-color: #fff;
}

 .new-page .dropdown-button .dropdown-toggle img, .new-page .custom_select__control .dropdown-toggle img, .new-page  .dropdown-button-fix .dropdown-toggle img {
    filter: invert(1);
}


.new-page .field-control,.new-page .field-select-control{
    margin-bottom: 0 !important;
}

.new-page .formgroup label{
    margin-bottom: 16px;
}

.box-row > div {
    margin-bottom: 2rem;
}

.students-page .box-row > div > div {
    margin-bottom: 2rem;
}

.ql-editor.ql-blank::before {
    color: #fff;
}
.box-row {
    margin: 2rem 0rem;
    border: 1px solid rgba(255, 255, 255, 0.5019607843)!important;
    padding: 30px;
    border-radius: 16px;
}

// new css for coursepage(light)
.main-panel:has(.publish-form-section), .main-content-wrapper:has(.publish-form-section),.main-panel:has(.course-section),.main-content-wrapper:has(.course-section)
{
    background-color: #F3F4F6;
}

.main-panel:has(.view-progress-section), .main-content-wrapper:has(.view-progress-section),.main-panel:has(.course-section),.main-content-wrapper:has(.course-section)
{
    background-color: #F3F4F6;
}


.main-panel:has(.course-section) .generic-card .card-body * {
    color: #1f2729;
}

.main-panel:has(.course-section) .generic-card {
    border: 0.5px solid rgb(0 163 214 / 44%);
}

.main-panel:has(.course-section) .course-section {
    border: 0.5px solid rgb(0 172 212 / 58%);
    padding: 30px 30px 0px;
}


.main-panel:has(.course-section) .search-input{
    background-color: #F3F4F6 !important;
    border: 1px solid rgb(176 225 235) !important;
    color: #000;
}

.main-panel:has(.course-section) .input-group-text{
    background-color: #F3F4F6 !important;
    border: 1px solid rgb(176 225 235) !important;
}
.main-panel:has(.course-section) .input-group-text img{
filter: invert(0);
}

.main-panel:has(.course-section) .search-input::placeholder{
    color: #000;
}

.main-panel:has(.publish-form-section) .title-top,.main-panel:has(.view-progress-section) .title-top {

    background-color: #F3F4F6 !important;
    // border: 1px solid rgb(176 225 235) !important;
    color: #000;
}

// .main-panel:has(.publish-form-section) .publish-course-wrapper,.main-panel:has(.view-progress-section) .publish-course-wrapper{
//     border: 0.5px solid rgb(0 172 212 / 58%);
//     padding: 30px;
// }

.main-panel:has(.publish-form-section) .corse-detail-box *,.main-panel:has(.view-progress-section) .corse-detail-box *{
    color: #000;
}

.main-panel:has(.publish-form-section) .lecture-card *,.main-panel:has(.view-progress-section) .lecture-card * {
    color: #000 !important;
}

.main-panel:has(.publish-form-section) .lecture-card ,.main-panel:has(.view-progress-section) .lecture-card {
    background-color: transparent;
    border: 1px solid rgb(217 216 215);
}

.main-panel:has(.publish-form-section) .lecture-card:hover,.main-panel:has(.view-progress-section) .lecture-card:hover{
        background-color: #80808042;
    }

    // .main-panel:has(.publish-form-section)   .corse-detail-box iframe,.main-panel:has(.publish-form-section)  .corse-detail-box .pdf-viewer {
    //     padding: 30px;
    //     border: 1px solid rgb(217 216 215);
    //     border-radius: 16px;
    // }

    // .main-panel:has(.view-progress-section)   .corse-detail-box iframe,.main-panel:has(.view-progress-section)  .corse-detail-box .pdf-viewer {
    //     padding: 30px;
    //     border: 1px solid rgb(217 216 215);
    //     border-radius: 16px;
    // }

    .main-panel:has(.publish-form-section)  .publish-added-button-footer .edit-btn {
        border: 1px solid #000;
    }

    .main-panel:has(.view-progress-section)  .publish-added-button-footer .edit-btn {
        border: 1px solid #000;
    }

    .main-panel .main-content-wrapper {
        margin-top: 15px;
    }

    .main-panel:has(.publish-form-section) .lecture-card, .main-panel:has(.view-progress-section) .lecture-card {
        background-color: transparent;
         border:none; 
        box-shadow: none;
        padding: 5px 0px;
        margin: 0;
    }

    .main-panel:has(.course-section) .generic-card:hover  {
        background: transparent;
    }

    .main-panel:has(.course-section) .search-input, .main-panel:has(.course-section) .search-input::placeholder {
        color: #000 !important;
    }

    .main-panel:has(.publish-form-section) .publish-course-wrapper .carousel-lecture {
        width: 100%;
        padding: 0;
    }

    .main-panel:has(.view-progress-section) .publish-course-wrapper .carousel-lecture {
        width: 100%;
        padding: 0;
    }

    .main-panel:has(.publish-form-section) .active_lec .lecture-card {
        background-color: #00a7d57d;
    }

    .main-panel:has(.view-progress-section) .active_lec .lecture-card {
        background-color: #00a7d57d;
    }

    .sidebar .brand-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

    button.menu-toggler {
    background-color: transparent;
    padding: 5px 15px;
}

.main-panel:has(.publish-form-section)  .top-nav-title h3,.main-panel:has(.course-section)  .top-nav-title h3 {
    margin-bottom: 0rem;
    display: none;
}

.main-panel:has(.view-progress-section)  .top-nav-title h3,.main-panel:has(.course-section)  .top-nav-title h3 {
    margin-bottom: 0rem;
    display: none;
}

// only-for new-course-page
.addcourse-section .nav-tabs .nav-link.active {
    color: #000 !important;
}

.addcourse-section .section-title p {color: #000;}

.addcourse-section .field-label {
    color: #000;
}

.addcourse-section .field-control,.addcourse-section  .field-select-control,.upload-course-form .field-control, .upload-course-form .field-select-control {
    background-color: transparent !important;
    color: #000 !important;
    border: 1px solid rgb(3 164 194 / 24%) !important;
}

.addcourse-section .formgroup input[type=text],.addcourse-section .formgroup input[type=password],.addcourse-section .formgroup textarea,.addcourse-section .formgroup .custom_select__control {
    background-color: transparent !important;
    padding: 0px 20px;
}

.addcourse-section .formgroup label {
    color: #000;
}

.addcourse-section .add-course-form .cancel-btn {
    color: #000 !important;
 border: 1px solid rgb(3 164 194 / 24%) !important;
}

.addcourse-section .field-control:focus-visible,.addcourse-section  .field-select-control:focus-visible, 
.addcourse-section .field-text-area-control:focus-visible {
    outline: 0px !important;
    border: 1px solid rgb(3 164 194 / 24%) !important;
    color: #000 !important;
}

.addcourse-section .formgroup input[type=text],.addcourse-section  .formgroup input[type=password],
.addcourse-section  .formgroup textarea,.addcourse-section .formgroup .custom_select__control{
    border: 1px solid rgb(3 164 194 / 24%) !important;
}

.upload-course-form .add-quiz-fields .add-quiz-question .quiz-multiple-choice input[type=text].correctAnswer {
    background-color: #00b9cf !important;
}

.publish-form-section .publish-course-wrapper .lecture-details-wrapper,.view-progress-section .publish-course-wrapper .lecture-details-wrapper {
    border: 1px solid transparent;
    padding: 0px 30px;
    width: 100%;
    position: absolute;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.course-section .custom-card-course {
    padding-bottom: 30px;
}

.addcourse-section  .add-lecture-section .add-lecture-item .items-button .quiz-lec-btn {
    background-color: #0395c6;
}

.addcourse-section  .add-lecture-section .add-lecture-item .items-button .quiz-btn {
    background-color: #a2d9dd;
}

.addcourse-section  .publish-form-section .publish-course-wrapper .lecture-details-wrapper,.addcourse-section  .view-progress-section .publish-course-wrapper .lecture-details-wrapper {
    position: static;
}

.addcourse-section  .publish-form-section .publish-course-wrapper .card-background,.addcourse-section  .view-progress-section .publish-course-wrapper .card-background {
    z-index: 1;
}

.addcourse-section .publish-form-section .publish-course-wrapper .lecture-details-wrapper .lecture-details,.addcourse-section .view-progress-section .publish-course-wrapper .lecture-details-wrapper .lecture-details {
    position: relative;
    z-index: 2;
}

.upload-course-form .publish-form-section .cancel-btn,.upload-course-form .cancel-btn,.main-panel:has(.publish-form-section) .publish-course-wrapper .cancel-btn {
    color: #000 !important;
    border: 1px solid rgb(3 164 194 / 24%) !important;
}

.upload-course-form .view-progress-section .cancel-btn,.upload-course-form .cancel-btn,.main-panel:has(.view-progress-section) .publish-course-wrapper .cancel-btn {
    color: #000 !important;
    border: 1px solid rgb(3 164 194 / 24%) !important;
}


.upload-course-form .add-lecture-section .add-lecture-item p {
    color: #000;
}

.upload-course-form .add-lecture-section .add-lecture-nav p,.upload-course-form span{
    color: #000;
}

.upload-course-form .ql-editor.ql-blank::before {
    color: #0009;
}

.new-student-page-wrapper .box-row > div >div {
    margin-bottom: 2rem;
}

.publish-added-button-footer {
    border-top: 0px;
}

.main-panel .main-content-wrapper {
    padding-left: 2rem !important;
}

.top-nav-title .h3, .top-nav-title h3{
    display: none;
}

.layout_admin .top-nav-title .sub-title {
    text-align: right;
    margin-top: 8px;
}

.new-coach-page-wrapper .cancel-btn {
    color: #fff;
}

.box-row > div:not(:has(div)) {
    margin-bottom: 0;
}

.addcourse-section .formgroup input[type=text]{
    border: 0px !important;
}


.publish-form-section .publish-course-wrapper .lecture-details-wrapper .lecture-details > div,.view-progress-section .publish-course-wrapper .lecture-details-wrapper .lecture-details > div {
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.publish-form-section .publish-course-wrapper .lecture-details-wrapper .lecture-details .lecture-details-2,
.view-progress-section .publish-course-wrapper .lecture-details-wrapper .lecture-details .lecture-details-2 {
    align-items: center;
}

.events-page .btn-wrapper span {
    color: #fff;
}

.roadmap-wrapper iframe html, .roadmap-wrapper iframe body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.view-progress-section .card-background {
    display: none;
}

.view-progress-section .search-lectures input {
    background-color: #F3F4F6 !important;
    border: 1px solid rgb(176, 225, 235) !important;
    color: #000 !important;
}

.view-progress-section .search-lectures .inactive{
    background-color: transparent !important;
    border: 1px solid rgb(217, 216, 215) !important;
    border-radius: 10px;
    }

.view-progress-section .search-lectures .inactive{
        background-color: #80808042;
    }
    
.view-progress-section .search-lectures .inactive{
    background-color: #00a7d57d !important;
    }

    

@media only screen and (max-width:767px) {
    .corse-detail-box {
        margin-top: 2rem;
    }

    .main-panel:has(.publish-form-section) .corse-detail-box iframe, .main-panel:has(.publish-form-section) .corse-detail-box .pdf-viewer {
        padding: 15px;
    }

        .main-panel:has(.view-progress-section) .corse-detail-box iframe, .main-panel:has(.view-progress-section) .corse-detail-box .pdf-viewer {
        padding: 15px;
    }

    .main-panel:has(.publish-form-section) .publish-course-wrapper {
        padding: 15px;
    }
        .main-panel:has(.view-progress-section) .publish-course-wrapper {
        padding: 15px;
    }

    .main-panel .main-content-wrapper {
        padding-left: 1rem !important;
    }

    .add-course-form form div:last-child .col > div {
        flex-direction: column;
        margin-top: 3rem !important;
    }

    .formgroup input[type=text], .formgroup input[type=password], .formgroup textarea, .formgroup .custom_select__control{
        width: auto !important;
    }
    .box-row > div > div {
        margin-bottom: 1rem;
    }
    .box-row > div{
        margin-bottom: 0px;
    }
    .new-student-page-wrapper .box-row > div > div {
        margin-bottom: 1rem;
    }
    .main-panel .main-content-wrapper {
        padding: 10px 10px !important;
    }
    .field-control, .field-select-control {
        padding: 10px;
        margin-bottom: 1rem;
    }

    .publish-form-section .publish-course-wrapper .lecture-details-wrapper {
        padding: 0px 10px;
    }

       .view-progress-section .publish-course-wrapper .lecture-details-wrapper {
        padding: 0px 10px;
    }

    .box-row {
        margin: 1rem 0rem;
        padding: 15px;
    }
    .main-panel:has(.course-section) .course-section {
        padding: 15px;
    }
}
