@import '@constants/colors.scss';
@import '@constants/media.scss';
@import '@constants/typography.scss';

.course-topbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .input-group-text {
        color: red;
    }
    .search-input {
        max-width: 390px;
        border-radius: 59px;
        background-color: rgba(245, 248, 249, 1);
    }
    .input-group-text {
        background: rgb(245, 248, 249) !important;
        border-radius: 59px;
    }
    .add-button {
        @include pagination-gradient;
        border-radius: 59px;
        color: #ffff;
        font-weight: 400;
        white-space: nowrap;
        border: none;
        @include respond-to($small-screen) {
            margin-top: 10px;
        }
    }
}
.custom-card-course {
    .card-body {
        padding: 0px;
    }
    .custom-card {
        height: auto;
        width: auto;
        margin-block: 2.3rem;
    }
}

.addcourse-section {
    .addcourse-nav {
        background-color: #f2f4f5;
        font-size: $font-size-medium;
        font-family: $font-primary;
        color: #5f6c72;
        padding: 10px;
        border-radius: 12px;
    }
    .course-tabs {
        margin-top: 10px;
        .nav-link {
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
            font-family: $font-primary;
            color: #6e7484;
        }
        .nav-underline .nav-link.active,
        .nav-underline .show > .nav-link {
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
            font-family: $font-primary;
            color: #1d2026;
            border-bottom-color: #019ed8;
        }
    }
}

// css for Add New Course

.add-course-form-section {
    .section-title {
        border-bottom: 1px solid #e9eaf0;
        p {
            font-size: $font-size-extra-large;
            font-family: $font-primary;
            font-weight: $font-weight-bold;
            color: #1d2026;
            padding: 16px;
        }
    }
    .add-course-form {
        .formgroup input[type='text'] {
            background-color: transparent;
            width: 100%;
            height: auto;
        }
    }

    .input-field-container {
        position: relative;
    }

    .input-count {
        position: absolute;
        top: 64%;
        right: 4%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .course-DropdownButton {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        .dropdown-button {
            background-color: transparent;
            border-radius: 59px;

            .dropdown-toggle {
                color: rgba(148, 148, 148, 1);
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
            font-weight: 400;
            white-space: nowrap;
            // border: rgba(148, 148, 148, 1) 1px solid !important;
            border: 1.34px solid #e9eaf0;

            .dropdown-menu {
                width: 100%;
                height: 254px;
                overflow: hidden;
                overflow-y: auto;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.37);
                .avatar {
                    width: 20px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 0.5rem;
                }
                .coach-name {
                    font-size: small;
                    color: rgba(85, 95, 126, 1);
                }
            }
        }
    }
    .course-btn-footer {
        display: flex;
        justify-content: space-between;
        // margin-top: 20px;
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
        width: 90%;
        .save-button {
            @include pagination-gradient;
            border-radius: 141px;
            font-size: $font-size-medium;
            font-family: $font-primary;
            color: #ffffff;
            padding: 0px, 25.61px, 0px, 25.61px;
        }
        .cancel-button {
            border: 0.8px solid #e9eaf0;
            background-color: transparent;
            border-radius: 141px;
            font-size: $font-size-medium;
            font-family: $font-primary;
            color: #6e7485;
            padding: 0px, 25.61px, 0px, 25.61px;
        }
    }
}

//Css for UploadFiles
.upload-form-section {
    .section-title {
        border-bottom: 1px solid #e9eaf0;
        p {
            font-size: $font-size-extra-large;
            font-family: $font-primary;
            font-weight: $font-weight-bold;
            color: #1d2026;
            padding: 16px;
        }
    }
    .upload-course-form {
        margin-top: 10px;

        .coachPhoto {
        }
        .image-preview {
            display: flex;
            justify-content: start;
            cursor: pointer;
            align-items: center;
            gap: 1.5rem;
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 10px;
            padding: 20px 10px;
            color: rgba(110, 116, 133, 1);
            .image-preview-text {
                display: flex;
                flex-direction: column;
                font-size: $font-size-small;
                gap: 10px;

                .upload-btn {
                    border-radius: 50px;
                    padding: 0, 19.13px, 0px, 19.13px;
                    background-color: #ccecf7;
                    color: #019ed8;
                    width: 150px;
                    height: 39px;
                    font-size: $font-size-small;
                    border: transparent;
                    font-weight: 600;
                }
            }
        }
        .image-renderer {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.5rem;
            padding: 20px 10px;
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 10px;
            color: rgb(38, 54, 99);
            text-wrap: wrap;
            img {
                width: 180px;
                height: 127px;
                // border-radius: 50%;
                border-radius: 10px !important;

                // object-fit: cover;
            }
            video {
                width: 180px;
                height: 127px;
                // border-radius: 50%;
                border-radius: 10px !important;
            }
        }
        .field-quill-control {
            .ql-toolbar {
                border: 0.8px solid rgba(233, 234, 240, 1);
                border-radius: 10px 10px 0 0;
                order: -1;
            }
            .ql-container {
                border: 0.8px solid rgba(233, 234, 240, 1);
                border-radius: 0 0 10px 10px;
                min-height: 200px;
            }
        }
    }
    .field-label {
        font-family: $font-primary !important;
        font-weight: $font-weight-bold !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        text-transform: capitalize;
        color: rgba(25, 28, 31, 1);
    }
    .submit-btn,
    .cancel-btn {
        border-radius: 59px;
        font-weight: 400;
        white-space: nowrap;
        border: none;
    }
    .submit-btn {
        color: #ffff;
        padding: 10px 30px;
        @include pagination-gradient;
    }

    .cancel-btn {
        padding: 10px 40px;
        background-color: transparent !important;
        color: black;
        border: 1px solid rgba(233, 234, 240, 1);
    }

    //css for add lecture box
    .add-lecture-section {
        background-color: #f5f7fa;
        padding: 20px;
        margin-top: 10px;
        border-radius: 10px;
        .add-lecture-nav {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
        }
        .add-lecture-item {
            background-color: white;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include respond-to($large-screen) {
                display: flex;
                flex-direction: column;
                justify-content: start;
            }
            .items-button {
                font-family: $font-primary;
                font-size: $font-size-small;
                display: flex;
                gap: 4px;
                .quizz-btn {
                    padding: 0px, 12.75px, 0px, 12.75px;
                    background-color: #f5e021;
                    border-radius: 50px;
                    color: #212121;
                    font-weight: $font-weight-bold;
                }
                .quizz-lec-btn {
                    background-color: #61dd83;
                    padding: 0px, 12.75px, 0px, 12.75px;
                    border-radius: 50px;
                    color: #ffffff;
                }
            }
        }
    }
}
// add lecture modal form css
.add-lecture-form {
    input[type='text'] {
        width: 100% !important;
        background-color: transparent !important;
        border: 0.8px solid #e9eaf0;
        padding: 10px, 24px, 24px, 14px;
        height: 37px !important;
        &::placeholder {
            text-transform: capitalize;
            font-size: 14px;
            color: #8c94a3;
            padding-left: 10px;
            @include respond-to($medium-screen) {
                font-size: 10px !important;
            }
            @include respond-to($small-screen) {
                font-size: 10px;
            }
        }
        &:focus {
            outline: 1.5px solid $info-color;
        }
    }

    textarea {
        width: 100% !important;
        background-color: transparent !important;
        border: 0.8px solid #e9eaf0;
        height: 115px !important;
        border-radius: 10px !important;
        &::placeholder {
            text-transform: capitalize;
            font-size: 14px;
            color: #8c94a3;
            padding-left: 10px;
            @include respond-to($medium-screen) {
                font-size: 10px !important;
            }
            @include respond-to($small-screen) {
                font-size: 10px;
            }
        }
        &:focus {
            outline: 1.5px solid $info-color;
        }
    }

    .custom-card {
        padding: 0px;
        width: auto;
        height: auto;
    }
    .add-quizz-title {
        color: #212121;
        font-weight: $font-weight-bold;
        font-family: $font-primary;
        font-size: $font-size-large;
    }
    .add-quizz-fields {
        .add-quizz-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $font-primary;
            font-size: $font-size-medium;
            span {
                color: #019ed8;
                text-wrap: nowrap;
                cursor: pointer;
            }
        }

        .add-quizz-question {
            .questions {
                position: relative;
            }
            .limit {
                position: absolute;
                top: 50%;
                right: 4%;
                transform: translateY(-50%);
                color: #4e5566;
                font-size: $font-size-small;
            }
            .quizz-multiple-choice {
                display: flex;
                justify-content: space-between;
                gap: 4px;
                input[type='text'] {
                    background-color: #f5f7fa !important;
                    &::placeholder {
                        color: #8c94a3;
                        font-size: $font-size-medium;
                        text-align: center;
                    }
                }
                .correct-answer {
                    width: 100%;
                    input[type='text'] {
                        background-color: #76ba81 !important;
                        color: #ffffff !important;

                        &::placeholder {
                            color: #ffffff !important;
                        }
                    }
                }
            }
        }
    }
    .add-quizz-file {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.8px solid #e9eaf0;
        border-radius: 10px;
        margin-top: 15px;
        padding: 15px;
        color: #8c94a3;
        font-size: $font-size-medium;

        h4 {
            font-size: $font-size-medium;

            font-weight: $font-weight-bold;
            color: #1d2026;
        }
    }
    //Css for uplading file
    .guZdik {
        border: none;
        width: 100%;
        position: absolute;
        svg {
            display: none;
        }
    }
    .jWkLDY {
        display: none;
    }
    .submit-btn,
    .cancel-btn {
        border-radius: 59px;
        font-weight: 400;
        white-space: nowrap;
        border: none;
    }
    .submit-btn {
        color: #ffff;
        padding: 10px 30px;
        @include pagination-gradient;
    }

    .cancel-btn {
        padding: 10px 40px;
        background-color: transparent !important;
        color: black;
        border: 1px solid rgba(233, 234, 240, 1);
    }
}

//Css for Publish Course tab
.publish-form-section {
    .section-title {
        border-bottom: 1px solid #e9eaf0;
        p {
            font-size: $font-size-extra-large;
            font-family: $font-primary;
            font-weight: $font-weight-bold;
            color: #1d2026;
            padding: 16px;
        }
    }
    .custom-card {
        padding: 0px;
    }
    .card-body {
        padding: 0px;
    }
    .card-large {
        height: 787px;
    }
    .card-background {
        background-image: url('@images/publish-background.svg');
        width: 100%;
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .lecture-details {
        display: flex;
        justify-content: space-evenly;
        margin-inline: 40px;
        align-items: center;
        padding: 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
        position: absolute;
        width: 90%;
        top: 44%;
        @include respond-to($small-screen) {
            width: 85%;
        }
        h1 {
            color: #000000;
            font-family: $font-primary;
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
        }
        p {
            color: #9d9d9d;
            font-size: $font-size-small;
        }
        .lecture-details-2 {
            border-left: 0.3px solid #707070;
            border-right: 0.3px solid #707070;
            padding-inline: 66px;
            @include respond-to($small-screen) {
                padding-inline: 10px;
            }
        }
    }
    .carousel-lecture {
        margin-top: 100px;
        padding: 20px;
        .custom-card {
            width: 224px;
            height: 200px;
            padding: 10px;
        }
        .swiper-button-next {
            background-image: url('@icons/next.svg') !important;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center;
        }
        .swiper-button-prev {
            background-image: url('@icons/previous.svg') !important;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center;
        }
        .swiper-button-next::after {
            content: ''; /* Keep the content property, but make it empty */
            visibility: hidden;
        }
        .swiper-button-prev:after {
            content: ''; /* Keep the content property, but make it empty */
            visibility: hidden;
        }
    }

    .slider-section {
    }
}
