@import '@constants/colors.scss';

.events-page {
    .action-button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
            border: none !important;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        .action-icon {
            width: 20px;
            height: 20px;
        }
    }
    .edit-button {
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 1px solid $info-color;
        }
    }
    .delete-button {
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 1px solid $danger-color;
        }
    }
    .add-button {
        @include pagination-gradient;
        border-radius: 59px;
        color: #ffff;
        font-weight: 400;
        white-space: nowrap;
        border: none;
    }
    .filter-button {
        background-color: transparent;
        border-radius: 59px;
        color: rgba(148, 148, 148, 1);
        font-weight: 400;
        white-space: nowrap;
        border: rgba(148, 148, 148, 1) 1px solid !important;
    }

    .dropdown-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent !important;
        border-radius: 59px;
        .dropdown-toggle {
            color: rgba(148, 148, 148, 1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            border: none;
            width: 100%;
            background-color: transparent;
            border: none;
            & > div {
                width: 100%;
            }
        }
        font-weight: 400;
        white-space: nowrap;
        border: rgba(148, 148, 148, 1) 1px solid !important;

        .dropdown-menu {
            width: 100%;
            overflow: hidden;
            border: none;
            border-radius: 10px;
            background-color: white !important;
            box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.37);
            .avatar {
                width: 20px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.5rem;
            }
            .event-name {
                font-size: small;
                color: rgba(85, 95, 126, 1);
            }
        }
    }

    .filter-by-text {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: right;
    }

    // Fee status colors
    .fee-status {
        display: inline-block;
        border-radius: 130px;
        color: #ffff;
        &.Paid {
            background-color: $success-light-color;
            padding: 0px 30px;
        }
        &.Unpaid {
            padding: 0px 20px;
            background-color: $danger-light-color;
        }
        &.partial {
            background-color: $warning-color;
        }
    }
    @media (max-width: $medium-screen) {
        .add-button,
        .dropdown-button {
            margin-top: 0.5rem;
        }
    }
    @media (min-width: $medium-screen) and (max-width: $x-large-screen) {
        .add-button {
            margin-top: 0.5rem;
        }
    }
}

// Event Details
.event-details-section {
    .card-body {
        padding: 0px;
    }
    .custom-card {
        padding: 0px;
        border-radius: 20px;
    }
    .card-large {
        height: auto;
    }
    .event-detail-top {
        display: flex;
        gap: 15px;
        align-items: center;
        padding-block: 24px;
        padding-inline: 24px;
        border-bottom: 0.2px solid #707070;
        .card-profile-img {
            padding-block: 21px;
            padding-inline: 21px;
            border: 1px solid;
            font-size: 32px;
            align-items: center;
            text-align: center;
            font-weight: $font-weight-medium;
            color: #ffffff;
            background-color: #019fd8;
            border-radius: 15px;
        }
        .meeting-details {
            display: flex;
            flex-direction: column;
            gap: 1px;

            h1 {
                font-size: $font-size-extra-large;
                font-weight: $font-weight-medium;
                color: #000000;
                margin: 0px;
            }
            h2 {
                color: #a4a4a4;
                font-weight: $font-size-medium;
                font-size: $font-size-extra-large;
                margin: 0px;
            }
            p {
                font-weight: $font-size-medium;
                font-size: $font-size-extra-large;
                color: #212121;
            }
        }
    }
    .meeting-detail-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-block: 10px;
        padding-inline: 24px;

        h1 {
            font-size: $font-size-medium;
            font-weight: $font-weight-large;
        }
        span {
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
        }
        .time-detail {
            margin-top: 19px;
            text-align: center;
            background-color: #f2f8ff;
            padding-block: 13px;
            line-height: 14.71px;
            border-radius: 10px;
        }
    }

    .event-detail-footer {
        display: flex;
        justify-content: end;
        gap: 10px;
        padding-inline: 24px;
        padding-block: 32px;
        border-top: 0.2px solid #707070;

        .edit {
            background-color: transparent;
            color: #212121;
            border: 3.3px solid #2f80ed;
            width: 224px;
            height: 45px;
            border-radius: 50px;
        }

        .join {
            background-color: #2f80ed;
            color: #ffffff;
            border: 0.3px solid #2f80ed;
            padding-inline: auto;
            // padding-block: 12px;
            border-radius: 50px;
            width: 224px;
            height: 45px;
        }
    }

    .main-row-meeting-link {
        display: flex;
        justify-content: space-evenly;
        padding-block: 38px;
        padding-inline: 24px;
        flex-wrap: wrap;
        .icon-stack {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .profile-icon {
                width: 35px; /* Set a fixed width for each avatar */
                height: 35px;
                border-radius: 30px;
                margin-right: -11px; /* Overlap the next avatar by 50% */
                transition: margin-right 0.3s ease;
                background-color: #dfebff;
                p {
                    font-size: 12px;
                    color: #0060ff;
                    text-align: center;
                    justify-content: center;
                }
            }
            .profile-icon:last-child {
                margin-right: 0; /* Remove margin from the last avatar */
            }
        }
    }
    .meeting-link {
        display: flex;
        font-size: $font-size-small;
        justify-content: space-evenly;
        align-items: center;
        background-color: #dfebff;
        padding-inline: 12px;
        border-radius: 60.93px;
        a {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid;
            text-wrap: wrap;
            color: #0060ff;
        }
    }
    .personal-meeting-btn {
        align-items: center;
        width: 201.52px;
        height: 44.32px;
        justify-content: space-between;
        border-radius: 45px;
        background-color: #f6f6f6;
        align-items: center;
        padding-inline: 15px;
        padding-top: 18px;
        padding-bottom: 12px;
        .profile-icon {
            display: flex;
            gap: 10px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        img {
            width: 30px;
            height: 30px;
        }
        h1 {
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            margin-bottom: 0px;
        }
        p {
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            color: #9e9e9e;
        }
        .dotOptions {
            height: 18px;
            width: 10px;
        }
    }

    @media (min-width: $x-small-screen) and (max-width: $x-large-screen) {
        .main-row-meeting-link {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }
}

// Buttons
.dropdown-button,
.dropdown-button-fix {
    background-color: transparent !important;
    border-radius: 59px;
    font-weight: 400;
    white-space: nowrap;
    border: rgba(148, 148, 148, 1) 1px solid !important;

    .dropdown-toggle {
        color: rgba(148, 148, 148, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent !important;
        border: none;
        width: 100%;

        & > div {
            width: 100%;
        }
    }

    .dropdown-menu {
        width: 100%;
        overflow: hidden;
        border: none;
        border-radius: 10px;
        background-color: white !important;
        transform: translate(0px, 38px) !important;
        box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.37);
        .event-name {
            font-size: small;
            color: rgba(85, 95, 126, 1);
        }
    }
}

// Events Listing
.events-listing-wrapper {
    .search-input {
        max-width: 390px;
        border-radius: 59px;
        background-color: rgba(245, 248, 249, 1);
    }
    // Adjust the children responsive width
    @media (max-width: $medium-screen) {
        .search-input {
            max-width: 100%;
        }
    }

    .google-calendar-btn {
        background: rgba(33, 33, 33, 1);
        border-radius: 59px;
        font-weight: 400;
        white-space: nowrap;
        border: none !important;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        padding: 0px 20px;
        text-align: left;
    }

    // Buttons
    .dropdown-button,
    .dropdown-button-fix {
        background-color: transparent !important;
        border-radius: 59px;
        font-weight: 400;
        white-space: nowrap;
        border: rgba(148, 148, 148, 1) 1px solid !important;

        .dropdown-toggle {
            color: rgba(148, 148, 148, 1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent !important;
            border: none;
            width: 100%;

            & > div {
                width: 100%;
            }
        }

        .dropdown-menu {
            width: 100%;
            overflow: hidden;
            border: none;
            border-radius: 10px;
            background-color: white !important;
            transform: translate(0px, 38px) !important;
            box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.37);
            .event-name {
                font-size: small;
                color: rgba(85, 95, 126, 1);
            }
        }
    }

    .dropdown-button {
        .dropdown-menu {
            height: 254px;
            overflow-y: auto;
        }
    }

    // Calender Styles
    .rbc-month-view {
        border: none;
    }

    /* Custom Calendar Styles */
    .rbc-calendar {
        font-family: Inter;
        border: none !important;
    }

    .rbc-header {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0rem 1rem 0;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        color: rgba(32, 32, 32, 1);
        .rbc-header {
            border-bottom: 3px solid rgba(245, 246, 247, 1);
            border-right: none !important;
        }
    }

    .rbc-today {
        background-color: inherit !important;
    }

    // Two divs with same classes

    .rbc-row-segment > div.rbc-event {
        color: rgba(32, 32, 32, 1) !important;
        border-radius: 59px !important;
        text-align: start !important;
        background: transparent !important;
    }
    .rbc-row-segment .rbc-event {
        color: rgba(32, 32, 32, 1) !important;
        border-radius: 59px !important;
        text-align: center !important;
    }

    .active-event {
        background-color: rgba(157, 236, 175, 1) !important;
        color: rgba(32, 32, 32, 1) !important;
        border: 1px solid rgb(93, 219, 122) !important;
        border-radius: 59px !important;
        text-align: center;
    }
    .future-event {
        background: rgba(240, 248, 255, 1) !important;
        color: rgba(32, 32, 32, 1) !important;
        border: 1px solid rgb(99, 167, 231);
        border-radius: 59px !important;
        text-align: center;
    }

    .rbc-event-content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    // date cell
    .rbc-date-cell {
        display: none;
    }

    // ToolBar o calendar
    .rbc-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .rbc-btn-group button,
    .dropdown button {
        margin: 0 5px;
    }

    // Events Modal
    .event-listing-modal {
        .avatar {
            background-color: #007bff !important;
            color: white;
            font-weight: bold;
            padding: 10px;
            border-radius: 50%;
            font-size: 20px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .meeting-details {
            font-size: 0.8rem;
            text-align: right;
            color: #666;
        }
    }
}
.avatar {
    width: 40px;
    height: 40px;
    margin-right: 0.625rem;
    border-radius: 50% !important;
    object-fit: cover;
}
