@import '@constants/colors.scss';

.students-page {
    .action-button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
            border: none !important;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        .action-icon {
            width: 20px;
            height: 20px;
        }
    }
    .edit-button {
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 1px solid $info-color;
        }
    }
    .delete-button {
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 1px solid $danger-color;
        }
    }
    .add-button {
        @include pagination-gradient;
        border-radius: 59px;
        color: #ffff;
        font-weight: 400;
        white-space: nowrap;
        border: none;
    }
    .filter-button {
        background-color: transparent;
        border-radius: 59px;
        color: rgba(148, 148, 148, 1);
        font-weight: 400;
        white-space: nowrap;
        border: rgba(148, 148, 148, 1) 1px solid !important;
    }
    .dropdown-button,
    .dropdown-button-fix {
        background-color: transparent !important;
        border-radius: 59px;
        font-weight: 400;
        white-space: nowrap;
        border: rgba(148, 148, 148, 1) 1px solid !important;

        .dropdown-toggle {
            color: rgba(148, 148, 148, 1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent !important;
            border: none;
            width: 100%;

            & > div {
                width: 100%;
            }
        }

        .dropdown-menu {
            width: 100%;
            overflow: hidden;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.37);
            background-color: white !important;

            .avatar {
                width: 20px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.5rem;
            }

            .avatar-student {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.5rem;
            }

            .coach-name {
                font-size: small;
                color: rgba(85, 95, 126, 1);
            }
        }
    }

    .dropdown-button {
        .dropdown-menu {
            height: 254px;
            overflow-y: auto;
        }
    }

    // Fee status colors
    .fee-status {
        display: inline-block;
        border-radius: 130px;
        color: #ffff;
        &.Paid {
            background-color: $success-light-color;
            padding: 0px 30px;
        }
        &.Unpaid {
            padding: 0px 20px;
            background-color: $danger-light-color;
        }
        &.partial {
            background-color: $warning-color;
        }
    }

    @media (max-width: $small-screen) {
        .coach-btn {
            margin-top: 0.5rem;
        }
    }

    // Courses Modal

    .course {
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: red;
    }

    // Toggle button
    .toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        &:hover {
            border: none !important;
        }
        .form-check-input {
            width: 60px;
            height: 30px;
            &:checked {
                background-color: $info-color;
                border-color: $info-color;
            }
        }
    }

    // Fields
    .field-control,
    .field-select-control {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        color: rgba(25, 28, 31, 1);
        border: 0.8px solid rgba(233, 234, 240, 1);
        border-radius: 50px;
        padding: 10px 20px;
        width: 100%;
        margin-bottom: 0.5rem;
    }
    // on active or focus the border and color should be bold
    .field-control:focus-visible,
    .field-select-control:focus-visible {
        outline-color: rgba(146, 159, 165, 1) !important;
        border: 0.8px solid rgba(233, 234, 240, 1) !important;
        color: rgba(71, 81, 86, 1);
    }
    .field-control::placeholder,
    .field-select-control::placeholder {
        color: rgba(146, 159, 165, 1);
    }
}
