@import '@constants/colors.scss';
@import '@constants/media.scss';

.students-page {
    .button-wrapper {
        display: flex;
        justify-content: end;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        gap: 1rem;

        @media (max-width: $large-screen) {
            justify-content: start;
        }
    }

    .avatar-image {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
    }

    // Fee status colors
    .fee-status {
        display: inline-block;
        border-radius: 130px;
        color: rgba(0, 0, 0);

        &.Paid {
            background-color: $success-light-color;
            color: #ffff;
            padding: 0px 30px;
        }

        &.Unpaid {
            color: #ffff;
            padding: 0px 20px;
            background-color: $danger-light-color;
        }

        &.partial {
            color: #ffff;
            background-color: $warning-color;
        }
    }

    @media (max-width: $small-screen) {
        .student-btn {
            margin-top: 0.5rem;
        }
    }

    // Courses Modal

    .course {
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: red;
    }
}

.new-student-page-wrapper {
    .new-student-page {
        // height: calc(100vh - 14rem);
        // overflow-y: scroll;
        // box-shadow: 0px 0px 14.83px 0px rgba(0, 0, 0, 0.06);
        // border-radius: 9px;
        // Fix the table height

        .new-student-title {
            font-size: 1.3rem;
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
            background: linear-gradient(180deg, #00C7CC 0%, #009CD8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        .custom-multi-select {
            .css-13cymwt-control {
                border: 0.8px solid rgba(233, 234, 240, 1) !important;
                // border-radius: 50px !important;

                .css-1jqq78o-placeholder {
                    color: rgba(146, 159, 165, 1);
                    padding-left: 10px !important;
                }

                .css-1p3m7a8-multiValue {
                    border-radius: 60px;
                    padding: 0px 10px;
                    background: rgba(242, 248, 255, 1);
                }
            }
        }

        // Multi Select Field
        // .css-b62m3t-container {
        //     font-family: Inter;
        //     font-size: 14px;
        //     font-weight: 400;
        //     line-height: 14px;
        //     text-align: left;
        //     color: rgba(25, 28, 31, 1);
        //     border: 0.8px solid rgba(233, 234, 240, 1);
        //     border-radius: 50px;
        //     padding: 10px 20px;
        //     width: 100%;
        //     margin-bottom: 0.5rem;
        // }

        .custom_select__control {
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 59px;

            .custom_select__indicators {
                display: none;
            }
        }

        .custom_select__control:focus-visible {
            outline-color: rgba(146, 159, 165, 1) !important;
            color: rgba(71, 81, 86, 1);
        }

        .custom_select__placeholder {
            color: rgba(148, 148, 148, 1) !important;
            padding: 0px 10px;
        }

        .label-light {
            font-size: 14px;
            font-weight: 600;
            line-height: 13.8px;
            text-align: left;
            color: rgba(95, 108, 114, 1);
        }

        .image-preview {
            display: flex;
            justify-content: start;
            cursor: pointer;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem;
            // border: 1px solid rgba(255, 255, 255, 0.5019607843) !important;
            border-radius: 10px;
            padding: 20px 10px;
            color: rgba(110, 116, 133, 1);

            // span {
            //     color: #fff;
            // }

            // Events screen btn
            .upload-image-btn {
                border-radius: 59px;
                font-weight: 400;
                white-space: nowrap;
                border: none;
                padding: 10px 30px;
                background: rgba(204, 236, 247, 1);
                color: rgba(1, 158, 216, 1);
                margin-top: 1rem;
            }
        }

        .image-renderer {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.5rem;
            // padding: 20px 10px;
            // border: 0.8px solid rgba(233, 234, 240, 1);
            // border-radius: 10px;
            // color: rgb(38, 54, 99);

            img {
                // width: 85px;
                // height: 85px;
                // border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    // student-taught-wrapper
    .student-taught-wrapper {
        font-family: Inter;
        color: rgba(25, 28, 31, 1);
        border: 0.8px solid rgba(233, 234, 240, 1);
        border-radius: 16px;
        padding: 20px;
        min-height: 116px;
        margin-bottom: 1rem;

        .total {
            color: rgba(28, 28, 28, 0.4);
            margin-right: 0.5rem;
        }

        .data-value {
            color: rgba(28, 28, 28, 1);
            //styleName: 14 Regular;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            display: inline-block;
            background: rgba(248, 248, 248, 1);
            border-radius: 59px;
            padding: 10px 20px;
            margin: 0rem 1rem 1rem 0rem;
        }

        .field-label {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            text-transform: capitalize;
            color: rgba(25, 28, 31, 1);
        }

        // Fields
        .field-control,
        .field-select-control {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            color: rgba(25, 28, 31, 1);
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 50px;
            padding: 10px 20px;
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }

    // Roadmap mapping
    .course-roadmap-wrapper {
        font-family: Inter;
        color: rgba(25, 28, 31, 1);
        border: 0.8px solid rgba(233, 234, 240, 1);
        border-radius: 16px;
        padding: 20px;
        min-height: 116px;
        margin-bottom: 1rem;
    }

    .menu-overflow .dropdown-menu {
        z-index: 1111 !important;
    }


}

.css-1i837h3-ValueContainer2 {
    max-height: 35px;
    overflow-y: scroll !important;
}

.student-action-col input {
    width: 50px !important;
    height: 20px !important;
    cursor: pointer !important;
}

.property_section_main_div .text-items {
    display: flex !important;
}

.property_section {
    display: flex !important;
    gap: 10px !important;
    justify-content: space-between;
}

// May 08
.students-page .css-2ru6o-menu {
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: none;
    border: 1px solid #ccc;
    overflow: hidden;
    border-top: 0px;
}

// .students-page .css-1a1idlt-control {
//     border-bottom: 0px;
//     border-bottom-right-radius: 0px;
//     border-bottom-left-radius: 0px;
// }

.ag-cell-wrapper span {
    word-break: break-word;
}

.property_section_main_div {
    border-radius: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px -6px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px, rgba(84, 72, 49, 0.08) 0px 0px 0px 1px;
    overflow: hidden;
}

.property_section_main_div h2 {
    font-size: 1rem;
    margin-bottom: 0;
}

.property_section {
    // border-bottom: 1px solid #ccc;
    padding: 10px;
}

.property_section_main_div {
    padding: 10px 0px;
}

.property_section_main_div span {
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 0px;
    color: #32302c;
}

.property_section_main_div svg {
    max-width: 16px;
}

.property_section_main_div>div {
    padding: 12px;
}

.select__option {
    font-size: 14px;
}

// .property-detail {
//     max-height: 300px;
//     overflow-y: scroll;
// }

.property_section .cross {
    width: 20px;
    background-color: rgba(55, 53, 47, 0.06);
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.students-page .button-wrapper {
    justify-content: start;
}

.students-page .property_section_main_div .text-items {
    justify-content: space-between;
}

.students-page .student-table-row {
    width: 100% !important;
}

.drag-drop-item-left {
    display: flex;
    gap: 7px;
    align-items: center;
}

.hide-text-main-dev {
    display: flex;
    justify-content: space-between;
}

.hide-text-main-dev>p {
    font-size: 12px;
    color: #787774;
}

.hide-text-main-dev span {
    font-size: 12px;
}

.show-all-text {
    color: rgb(35, 131, 226) !important;
    cursor: pointer;
}

.main-panel:has(.students-page) .property_section_main_div input {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
    background-color: #f7f7f5 !important;
    padding: 8px !important;
    outline: 0px !important;
    border: 0px !important;
}

.main-panel:has(.students-page) .property_section_main_div input:focus {
    box-shadow: rgba(35, 131, 226, 0.57) 0px 0px 0px 1px inset, rgba(35, 131, 226, 0.35) 0px 0px 0px 2px;
}

.left-box {
    gap: 5px;
}

.students-page .property_section_main_div .text-items {
    border-radius: 4px;
    margin: 2px;
    padding: 5px 8px !important;

}

.students-page .property_section_main_div .text-items:hover {
    background-color: #f7f7f5;
}

.new-property-div {
    padding-bottom: 0 !important;
    border-top: 1px solid #d3d1cb;
}

.new-property-div p {
    margin: 0;
    color: #787774;
    font-size: 14px;
}
