@import '@constants/colors.scss';
@import '@constants/media.scss';
@import '@constants/typography.scss';

.visualize-csv-tabs {
    .title-top {
        text-align: left;
        color: rgba(95, 108, 114, 1);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        background: rgba(242, 244, 245, 1);
        padding: 10px 20px;
        border-radius: 12px;
        margin-bottom: 0.5rem;
        opacity: 0px;
    }
    .avatar-image {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
    }
    .product-image {
        width: 93px;
        height: 93px;
        border-radius: 50%;
        object-fit: cover;
    }
    .nav-tabs {
        &:focus-visible {
            outline: none !important;
        }
        border-bottom: unset !important;

        .nav-link.active {
            background-color: transparent !important;
            border: none !important;
            font-family: Inter;
            font-weight: 500;
            color: rgba(29, 32, 38, 1) !important;
            box-shadow: 0px -1.6px 0px 0px rgba(1, 158, 216, 1) inset;
        }

        .nav-link {
            border-radius: 0 !important;
            color: #495057 !important;
            box-shadow: 0px 0.8px 0px 0px rgba(233, 234, 240, 1);
            border: unset !important;
        }
    }

    // Fee status colors
    .status {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 130px;
        color: rgba(255, 255, 255, 1);
        padding: 0px 35px;
        &.Running {
            background-color: rgba(1, 159, 216, 0.75);
            padding: 0px 30px;
        }
        &.Ready {
            padding: 0px 35px;
            background: rgba(0, 178, 125, 0.75);
        }
        &.To-Do {
            background: rgba(255, 221, 43, 0.75);
            padding: 0px 35px;

            color: black;
        }
    }

    .avatar {
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.students-product-page {
    .avatar-image {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
    }
    .add-button {
        @include pagination-gradient;
        border-radius: 59px;
        color: #ffff;
        font-weight: 500;
        white-space: nowrap;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: $small-screen) {
        .coach-btn {
            margin-top: 0.5rem;
        }
    }

    // Fields
    .field-control,
    .field-select-control {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        color: rgba(25, 28, 31, 1);
        border: 0.8px solid rgba(233, 234, 240, 1);
        border-radius: 50px;
        padding: 10px 20px;
        width: 100%;
    }
    // on active or focus the border and color should be bold
    .field-control:focus-visible,
    .field-select-control:focus-visible {
        outline-color: rgba(146, 159, 165, 1) !important;
        border: 0.8px solid rgba(233, 234, 240, 1) !important;
        color: rgba(71, 81, 86, 1);
    }
    .field-control::placeholder,
    .field-select-control::placeholder {
        color: rgba(146, 159, 165, 1);
    }

    @media (max-width: $medium-screen) {
        .from-filter {
            margin-top: 0.5rem;
        }
    }
}

.product-detail-page-wrapper {
    .title-top {
        text-align: left;
        color: rgba(95, 108, 114, 1);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        background: rgba(242, 244, 245, 1);
        padding: 10px 20px;
        border-radius: 12px;
        margin-bottom: 0.5rem;
        opacity: 0px;
    }
    .product-detail-page {
        height: calc(100vh - 14rem);
        overflow-y: scroll;
        box-shadow: 0px 0px 14.83px 0px rgba(0, 0, 0, 0.06);
        border-radius: 9px;
        padding: 20px;
        .product-avatar {
            border-bottom: 1px solid rgba(233, 234, 240, 1);
            margin-bottom: 0.5rem;
        }

        // Fee status colors
        .productStatus {
            display: inline-block;
            border-radius: 59px;
            color: rgba(255, 255, 255, 1);
            padding: 0px 35px;
            &.Running {
                background-color: rgba(1, 159, 216, 0.75);
                padding: 0px 30px;
            }
            &.Ready {
                padding: 0px 35px;
                background: rgba(0, 178, 125, 0.75);
            }
            &.To-Do {
                background: rgba(255, 221, 43, 0.75);
                padding: 0px 35px;
                color: black;
            }
            &.research {
                background: $danger-extra-light-color;
                padding: 0px 35px;
                color: black;
            }
        }

        // Fix the table height

        .avatar {
            width: 129px;
            height: 129px;
            border-radius: 50%;
            object-fit: cover;
        }
        .image-preview {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            cursor: pointer;
            align-items: center;
            gap: 0.5rem;
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 10px;
            padding: 20px 10px;
            color: rgba(110, 116, 133, 1);
        }
        .image-renderer {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.5rem;
            padding: 20px 10px;
            border: 0.8px solid rgba(233, 234, 240, 1);
            border-radius: 10px;
            color: rgb(38, 54, 99);
            img {
                width: 85px;
                height: 85px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .error {
            color: $danger-color;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
        }
    }
}

.sample-file-btn {
    background-color: transparent !important;
    border: none !important;
    color: #495057 !important;
    display: flex;
    justify-content: end;
    align-items: center;
    &:hover {
        color: $primary-color !important;
        text-decoration: underline !important;
    }
}

.visualize-csv-tabs .title-top {
    background-color: rgba(255, 255, 255, 0.1019607843) !important;
    border: 1px solid rgb(233, 234, 240) !important;
    color: #fff;
}

.visualize-csv-tabs .nav-tabs .nav-link.active {
    color: #fff !important;
}

.students-product-page .field-control, .students-product-page .field-select-control {
    color: #fff;
    margin-bottom: 0px;
}

.students-product-page span {
    color: #fff;
}

.visualize-csv-tabs .cancel-btn{
    color: #fff !important;
}

.visualize-csv-tabs .custom-table .ag-paging-panel .ag-paging-page-summary-panel div.ag-disabled span{
    color: #000;
}

@media only screen and (max-width:991px) {

.visualize-csv-tabs .custom-table .search-input {
    max-width: 100%;
}

.visualize-csv-tabs .input-group {
    margin-bottom: 10px;
}
}