@import '@constants/colors.scss';
@import '@constants/typography.scss';
@import '@constants/media.scss';

.card-small {
    height: 117px;
}
.card-large {
    height: 450px;
}
.custom-card-colors {
    border: none;
    border-radius: 16px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    &.odd {
        // background: rgba(229, 236, 246, 1) !important;
        background: rgba(31,39,41, 1) !important;
        border: 1px solid #FFFFFF33;
        box-shadow: 0px 2px 6px 0px #24AAC780;
    }
    &.even {
        // background: rgba(227, 245, 255, 1) !important;
        background: rgb(45, 54, 56) !important;
        border: 1px solid #FFFFFF33;
        box-shadow: 0px 2px 6px 0px #24AAC780;
    }
}
// Events Card
.events-card {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1) !important;
    border-radius: 1rem !important;
    border: none !important;
    margin: 0 8px;
    // margin-bottom: 0px !important;
    @media (max-width: $large-screen) {
        & {
            padding: 0px !important;
        }
    }
}

.custom-card {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    // background-color: $body-bg-color;
    background: rgba(31,39,41, 1);
    padding: 10px 20px;
    margin-bottom: 1.5rem;
    border: 1px solid #FFFFFF33 !important;
    .card-header {
        border-bottom: 0px;
        background-color: inherit;
        .flexed-card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .card-title {
                margin-top: 10px;
                font-size: 18px;
                font-family: $font-primary;
                // color: $heading-color;
                color: #fff;
                text-transform: capitalize;
            }
            select {
                width: auto !important;
            }
        }

        .card-description {
            font-family: $font-secondary;
            font-size: 18px;
            color: $secondary-color;
        }
    }
    .card-footer {
        background-color: inherit;
    }
}

// Cash flow card
.cash-flow-card {
    height: 450px;
}

.main-panel .main-content-wrapper .rbc-toolbar button{
    color: rgba(255, 255, 255, 0.5019607843);
    background-color: transparent;
    background: transparent;
}

.main-panel .main-content-wrapper .rbc-off-range-bg {
    background: #0495c63b;
}

.main-panel .main-content-wrapper .rbc-calendar *, .main-panel .main-content-wrapper .rbc-calendar *:before,.main-panel .main-content-wrapper .rbc-calendar *:after {
    color: rgba(255, 255, 255, 0.5019607843);
}

.main-panel .main-content-wrapper .ag-theme-alpine.custom-table{
    background: rgba(31,39,41, 1);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5019607843);
    padding: 20px;
}

.main-panel .main-content-wrapper input.search-input.form-control::placeholder {
    color: #fff;
}


.layout_student .custom-card.events-card.card {
    background: #f8f7f5;
}

.main-panel .btn-check:checked+.btn, .main-panel .btn.active,.main-panel  .btn.show,.main-panel  .btn:first-child:active,.main-panel :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #173b47;
    border-color: #173b47;
}