@import '@constants/colors.scss';
@import '@constants/typography.scss';

.confirmation-modal {
    .custom-button {
        // min-width: 100px;
        // height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-body {
        color: rgba(140, 148, 163, 1);
        text-align: center;
    }
    // Custom footer classes
    .custom-footer-class {
        border: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        .custom-button {
            border-radius: 59px;
            font-weight: 400;
            padding: 15px 33px;
            white-space: nowrap;
            border: none;
            font-family: Inter;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: -0.008em;
            text-align: center;
            background-color:  transparent !important;
        }
        .delete-button {
            color: white !important;
            background: $danger-extra-light-color;
        }
        .yes-button {
            color: rgba(1, 158, 216, 1);
            background: rgba(204, 236, 247, 1);
        }
        .cancel-button {
            padding: 20px 24px;
            background: rgba(245, 247, 250, 1) !important;
            color: black;
        }
    }
    .add-quiz-file {
        border: 0.8px solid #e9eaf0;
        border-radius: 10px;
        margin-top: 15px;
        color: #8c94a3;
        font-size: $font-size-medium;
        padding: 15px 20px;
        .guZdik {
            // display: none !important;
            border: none !important;
            .jWkLDY {
                display: none !important;
            }
            svg {
                display: none !important;
            }
        }

        h4 {
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
            color: #1d2026;
        }
    }
}


// resources modal css
.res-modal .modal-dialog {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px !important;
}

.res-modal {
    padding: 0 !important;
    border-radius: 0px !important;
}

.res-modal .modal-content {
    border-radius: 0px;
    background-color: #333333bd;
}

.res-modal .modal-header {
    border: 0px;
}

.res-modal .modal-title {
    color: #fff;
}

.res-modal .resources-wrap-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.res-modal .resources-wrap-btn .img-res-download {
    background-color: #fff;
    height: 40px;
    width: 40px;
    justify-content: center;
    border-radius: 50%;
}

.res-modal .resources-wrap-btn .img-res-download img {
    max-width: 15px;
}

.res-modal .img-resource-wrap img {
    height: 100%;
    width: 100%;
    max-width: 800px;
    min-width: 800px;
    margin: auto;
    border-radius: 20px;
    max-height: 400px;
    object-fit: cover;
}

.res-modal .modal-content {
    min-height: 100vh;
}

.res-modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

@media only screen and (max-width:991px){
.res-modal .img-resource-wrap img {
    min-width: 100%;
}
}