@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.addcourse-section.supabase *,
.coursemodal *,
.course-section * .publish-form-section * {
    font-family: "Montserrat", sans-serif !important;
}

.main-panel {
    background-color: #F3F4F6;

    .main-content-wrapper {
        background-color: #F3F4F6;
        padding: 44px 60px !important;

        @media only screen and (max-width:1199px) {
            padding: 40px !important;
        }

        @media only screen and (max-width:767px) {
            padding: 30px !important;
        }

        @media only screen and (max-width:575px) {
            padding: 20px !important;
        }
    }
}

.title-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8EAF0;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;

    span,
    p {
        font-weight: 600;
        font-size: 20px;
        color: #1D2026;
        line-height: 25.51px;
    }
}

.MuiFormControl-root {
    width: 100%;
}

.Course-form {
    padding-top: 46px;

    input,
    textarea {
        background-color: #FFFFFF !important;
        border: 0px !important;
        height: 100%;
        padding: 14px 16px;
        border-radius: 5px;
    }

    label {
        color: #1D2026;
        font-family: Inter;
        font-weight: 400;
        font-family: 14px;
        line-height: 1.4;
    }

    .css-zsp0bh-MuiInputBase-root-MuiOutlinedInput-root {
        padding: 0;
    }
}

fieldset {
    border: 0 !important;
    outline: none !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid #B1B6BF !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #1D2026 !important;
    font-size: 16px !important;
}

.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: #fff;
    border-radius: 4px !IMPORTANT;
    padding: 14px 16px !important;
}

.form-group {
    margin-bottom: 16px;
}



.toggle-wrapper {
    display: flex;
    gap: 7px;
}

.toggle-wrapper span {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.13px;
    color: #8C94A3;
}

// ==================
.toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;

    .toggle-label {
        font-size: 18px;
        color: #6b7280;
    }

    .switch {
        input[type='checkbox'] {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 30px;
            height: 12px;
            background: #8C94A33B;
            display: block;
            border-radius: 100px;
            position: relative;
            top: -10px;

            &::after {
                content: '';
                position: absolute;
                top: -2px;
                left: -5px;
                width: 17px;
                height: 17px;
                background: #fff;
                border-radius: 90px;
                transition: 0.3s;
            }
        }

        input:checked+label {
            background: #8C94A33B;

            &::after {
                left: calc(100% + 5px);
                transform: translateX(-100%);
                background-color: #8C94A3;
            }
        }
    }
}


.access-container {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding-top: 4px;
    margin-bottom: 20px;
}

.access-option {
    flex: 1;
    padding: 15px;
    border: 1px solid #e0e0e0;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 10px;
    position: relative;
    border-right: 0;
}

.access-option:last-child {
    border-right: 1px solid #e0e0e0;
}

.access-option input[type="radio"] {
    accent-color: #fff;
    transform: scale(1.2);
}

.access-option .content h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #1D2026;
}

.access-option .content p {
    margin: 3px 0 0;
    font-size: 12px;
    color: #6E7485;

}

.access-option.selected h4 {
    color: #fff;
}

.access-option.selected {
    background: linear-gradient(90.19deg, #00C7CC -0.27%, #009CD8 99.11%);
    color: white;
    border: none;
}

.access-option.selected .content p {
    color: white;
}

.access-option:last-child {
    border-radius: 0 4px 4px 0;
}

.access-option:first-child {
    border-radius: 4px 0 0 4px;
}

.title-top {
    background-color: transparent !important;
    border-radius: 0;
}

.custom-radio {
    border: 1px solid #E3E5EB;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    min-width: 25px;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    color: #1D2026 !important;
}

.access-option.selected .custom-radio {
    border: 1px solid #FFFFFF;
    position: relative;
}

.access-option.selected .custom-radio:after {
    content: '';
    position: absolute;
    background: #FFFFFF;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root:hover {
    background: linear-gradient(90.19deg, #00C7CC -0.27%, #009CD8 99.11%) !important;
    box-shadow: 20px 14px 64px 0px #E3E5EB;
    color: #fff !important;
}


.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
    font-family: Inter !important;
    font-weight: 400 !important;
    font-size: 12px I !important;
    line-height: 30.5px I !important;
    letter-spacing: -1% I !important;
    color: #6E7485 !important;
    height: 28px;
}


.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border: 1px solid #019ED8;
}

label#courseCategory-label {
    background: #fff;
    padding: 0px 5px;
    margin-left: -3px;
    padding-left: 5px;
}

div#courseCategory {
    padding: 11px 16px;
    height: 100%;
    background-color: #fff;
}

label#courseCategory-label {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 14.61px;
    letter-spacing: 0;
    color: #1D2026;
}

.slect-input {
    background: #FFFFFF;
    height: 100%;
    display: flex;
    gap: 7px;
}

.category_details label {
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.61px;
    color: #1D2026;
}

.slect-input span {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    color: #6E7485 !important;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.custom_check input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

label.custom_check {
    cursor: pointer;
}


label.custom_check span {
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 2px;
    background: #F5F8F9;
    border: 1px solid #E9EAF0;
}


.category_details input {
    border: 1px solid #E9EAF0;
    background-color: #F5F8F9 !important;
    width: 100%;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #6E7485;
    padding: 13px 15px;
    border-radius: 3px;
    outline: none;
    margin-top: 15px;
}

.custom_ckeck_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

label.custom_check {
    margin-bottom: 12px !important;
}

label.custom_check:last-child {
    margin: 0 !important;
}

span.slect_span.selected {
    background: linear-gradient(183.91deg, #00C7CC 3.2%, #009CD8 96.81%);
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    text-transform: capitalize;
    color: #fff !important;
    width: fit-content;
    padding: 0 12px;
    border-radius: 4px;
}

.custom_check input:checked+.custom_ckeck_wrap span {
    background: linear-gradient(183.91deg, #00C7CC 3.2%, #009CD8 96.81%);
}

.select-label {
    display: grid;
    width: max-content;
    padding-top: 16px;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 50px;
}

.main-Category {
    border-radius: 4px;
    background-color: #fff;
    padding: 15px
}

.main-Category.active {
    border: 1px solid #019ED8;
    padding: 15px;
}

.slect_span.selected {
    color: #007bff;
    font-weight: bold;
}

.slect_span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slect_span.selected .icon {
    display: none;
}


.slect-input {
    position: relative;
}

.down-icon {
    position: absolute;
    right: 0;
}

.main-Category.active .down-icon {
    rotate: 177deg;
}

// NT 17aprl 25

.thumbnail-block {
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 7px 10px;
    border-radius: 4px;

    .upload-course-form {
        margin: 0;

        .image-renderer {
            display: block;
            width: auto;
            padding: 7px 10px;
            border: 0;

            span {
                display: block;
                font-size: 14px;
                font-weight: 500;
                color: #1D2026;
                margin-bottom: 10px;
            }

            >img {
                background-color: #F5F7FA;
                padding: 10px;
                border-radius: 4px;
            }
        }
    }

    label {
        font-size: 14px;
        font-weight: 500;
    }

    .image-preview {
        padding-top: 0;

        .image-preview-text {
            max-width: 270px;
        }

        p {
            color: #6E7485;
            font-weight: 400;
            font-size: 12px;
        }

        strong {
            color: #1D2026;
        }

        button {
            border-radius: 4px !important;
            padding: 8px 17px !important;
            font-size: 11px !important;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}


.cancel-btn:hover,
.submit-btn {
    background: linear-gradient(181.32deg, #00c7cc 1.14%, #009CD8 98.89%);
    border-radius: 4px !important;
    border: 0.8px solid #E9EAF0 !important;
}

.submit-btn:hover {
    background: #fff;
    color: #6E7485 !important;
    border: 0.8px solid #E9EAF0 !important
}

.cancel-btn {
    border: 0.8px solid #E9EAF0 !important;
    color: #6E7485 !important;
    border-radius: 4px !important;
    background-color: #fff !important;
}

.cancel-btn:hover {
    color: #fff !important;
}

.publish-popup .modal-content {
    padding: 56px;
    border-radius: 20px;

    h5 {
        font-weight: 600;
        font-size: 29px;
        line-height: 1.2;
        text-align: center;
    }

    .modal-header {
        padding: 0;
        border: 0;
        justify-content: center;
    }

    .modal-footer {
        justify-content: center;
        border: 0;
        padding-bottom: 0;
    }
}

// .modal-backdrop.show {
//         background: rgba(0, 0, 0, 0.2588235294);
//         z-index: -1;
//     }


// .publish-popup::after,.confirmation-modal.show::after {
//     position: fixed;
//     content: "";
//     z-index: -1;
//     height: 100vh;
//     width: 100%;
//     background: #80808030;
//     top: 0;
//     left: 0;
// }

.subhead {
    font-weight: 600;
    font-size: 16px;
    color: #1D2026;
}

.course-left-top {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.course-left .dropdown-toggle {
    background-color: transparent !important;
    border: 0;
    padding: 0;
}

.course-left .dropdown-toggle::after {
    display: none;
}

.course-left .toggle-icon {
    color: #8C94A3;
    width: 13px;
}


.course-left .dropdown-menu {
    box-shadow: 2px 4px 14px 0px #00000026;
    border: 0;
}

.course-left .dropdown-item {
    color: #000 !important;
    padding: 10px 20px;
}

.folder-detail {
    margin-bottom: 15px;
    box-shadow: 0px 0px 14.86px 0px #0000000F;
    padding: 10px;
    border-radius: 4px;

    .drop-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        color: #1D2026;
        margin: 0;
    }
}

.folder-dropdown img {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.folder-dropdown.rotated img {
    transform: none;
}

.detail-box {
    margin: 10px 0px;

    li {
        list-style: none;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        color: #000;
        background-color: #fff;
        width: 100%;
        display: inline-block;
        padding: 13px 16px;
        border-radius: 4px;
        // margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background-color: #00b5d1;
        }

        a {
            color: #000 !important;
        }
    }

}


.res {
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 4px;

    .dropdown-toggle {
        background-color: #CCECF7 !important;
        border: 0;
        display: flex;
        align-items: center;
        color: #019ED8 !important;
        font-family: Inter;
        font-weight: 500;
        font-size: 11px;
        line-height: 1.2;
        border-radius: 50px;
        padding: 12px 20px;
        padding-right: 30px;

    }

    h2.subhead {
        margin: 0;
        font-weight: 500;
    }
}

body:has(.course-detail-tab) {
    overflow: visible !important;
    padding: 0 !important;
}

.res .add-btn a {
    background-color: #CCECF7;
    border: 0;
    display: flex;
    align-items: center;
    color: #019ED8;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.2;
    border-radius: 50px;
    padding: 12px 20px;

}

.course-left .folder-detail .dropdown-menu {
    border: 1px solid #019ED8;
    box-shadow: 0px 0px 14.86px 0px #0000000F;
}

// .drop-box .dropdown img {
//     filter: brightness(0) saturate(100%) invert(44%) sepia(90%) saturate(728%) hue-rotate(158deg) brightness(92%) contrast(103%);
// }

.detail-box .drop-box {
    height: 25px;
    width: 25px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.course-left-top img {
    filter: brightness(0) saturate(100%) invert(72%) sepia(2%) saturate(2588%) hue-rotate(178deg) brightness(84%) contrast(69%) !important;
}

.add-course-form .field-control {
    border: 0 !important;
}

.Course-form .row>div {
    margin-bottom: 20px;
}

.Course-form .form-group {
    position: relative;
}

.Course-form .form-group p {
    position: absolute;
    right: 0;
    top: auto;
    transform: translate(-50%, -50%);
    margin: 0;
    bottom: 0;
}

.search-bar {
    position: relative;

    img {
        position: absolute;
        top: 50%;
        right: 10px;
    }
}

.res .dropdown-toggle::after {
    border: 0;
    content: "";
    background-image: url("/src/assets/images/droparrow2.png");
    height: 6px;
    width: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

.res .dropdown-toggle.show::after {
    transform: translate(-50%, -50%) rotate(0deg);
}

.res .dropdown-item:active {
    color: inherit;
}


.confirmation-modal:has(.add-link-form) .add-link-form label {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: #1D2026;
}

.confirmation-modal:has(.add-link-form) .form-group {
    text-align: left;
    position: relative;
}

.confirmation-modal:has(.add-link-form) .error-message {
    position: absolute;
    top: 0;
    right: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.13px;
    color: #E83F29;
}

.confirmation-modal:has(.add-link-form) .form-control {
    background-color: transparent !important;
    border: 0.8px solid #E9EAF0;
    padding: 15px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
}

.confirmation-modal:has(.add-link-form) .modal-header {
    padding: 0;
    border: 0;
}

.confirmation-modal:has(.add-link-form) .modal-content {
    padding: 40px;
    border-radius: 20px;
}

.confirmation-modal:has(.add-link-form) .modal-title.h4 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.confirmation-modal:has(.add-link-form) button.btn-close {
    display: none;
}

.confirmation-modal:has(.add-link-form) .modal-body {
    padding: 0;
}

.confirmation-modal:has(.add-link-form) .divider-or {
    position: relative;
}

.confirmation-modal:has(.add-link-form) .divider-or::after {
    position: absolute;
    content: "";
    background: #E9EAF0;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1;
}

.confirmation-modal:has(.add-link-form) .divider-or span {
    background-color: #fff;
    z-index: 2;
    position: relative;
    padding: 5px;
    color: #6E7485;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
}

.confirmation-modal:has(.add-link-form) .form-group.res-file label {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: #1D2026;
    margin: 20px 0px 5px;
}

.confirmation-modal:has(.add-link-form) .custom-footer-class {
    justify-content: left;
    padding: 0;
    margin: 0;
}

label.form-label {
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}




.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
}

.popup ul {
    list-style: none;
    padding: 0;
}

.popup ul li {
    cursor: pointer;
    margin: 10px 0;
}

.showing-transcript {
    border: 1px solid #019ED8;
    padding: 0;
    display: block;
    position: relative;
}

.showing-transcript .subhead {
    background-color: #fff;
    transform: translate(25px, -14px);
    display: inline-block;
}

.trans-res .ql-toolbar.ql-snow {
    padding: 20px;
    border-bottom: 1px solid #019ED8 !important;
}

.cancel-tans {
    position: absolute;
    top: auto;
    bottom: 20px;
    right: 10px;
}

.cancel-btnn {
    color: #fff;
    background-color: #00acd394;
    border: 0;
}

.nwcat {
    border: 0 !important;
    font-size: 14px;
    margin-bottom: 6px;
}

.coursemodal .modal-footer {
    border: 0;
    padding: 0;
    justify-content: center;
}

.modal-backdrop {
    --bs-backdrop-bg: #00000042;
}

.coursemodal .modal-content {
    border-radius: 20px;
    padding: 40px;
}

.coursemodal .modal-body {
    padding: 0;
}

.coursemodal .form-group {
    position: relative;
}

.coursemodal .form-group .floating-label {
    display: block;
    position: relative;
    cursor: text;
}

.coursemodal .form-group input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #fff;
}

.coursemodal .form-group .floating-label span {
    position: absolute;
    top: 40%;
    left: 10px;
    transition: all 0.2s ease;
    color: #1D2026 !important;
    z-index: 1;
    pointer-events: none;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
}

.coursemodal .form-group input:focus+span {
    top: 8px;
    font-size: 0.8em;
}

.coursemodal .form-group input:focus {
    border: 1px solid #B1B6BF !important;
}

.coursemodal .modal-header .modal-title {
    font-weight: 600;
    font-size: 29px;
    line-height: 1.2;
    color: #1D2026;
    margin-bottom: 20px;
}

.coursemodal .modal-header {
    padding: 0;
    border: 0;
    justify-content: center;
}

.coursemodal .modal-header .btn-close {
    display: none;
}

.publishcourse .modal-content {
    padding: 60px;
}

.addcourse-section .add-course-form .tab-buttons .cancel-btn:hover {
    color: #fff !important;
}

.addcourse-section .add-course-form .tab-buttons .btn {
    padding: 14px 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    background-color: transparent !important;
}

.course-left .dropdown-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    padding: 10px 15px;
}

.course-left .dropdown-menu.move-drop {
    border: 1px solid rgba(128, 128, 128, 0.164) !important;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    max-height: 120px;
    overflow-y: scroll;
    box-shadow: 0px 0px 14.86px 0px rgb(57 60 61 / 68%);

    .dropdown-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
            content: "→";
            margin-left: 10px;
        }
    }
}

// .new-page-view {
//     margin-bottom: 20px;
// }

.detail-box .drop-box .dropdown-menu {
    border: 1px solid #019ED8
}

.Course-form .row>div:has(.thumbnail-block),
.Course-form .row:has(.thumbnail-block) {
    margin-bottom: 0 !important;
}

.course-detail-row .ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
    height: 35px;
    padding: 8px 8px;
    display: inline-block;
    width: 35px;
}

.course-detail-row .ql-snow .ql-tooltip.ql-flip {
    left: 0;
    right: 0;
    margin: auto;
    padding: 40px 40px 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 14.86px 0px rgb(0 0 0 / 56%);
    transform: none;
    z-index: 2;
    top: 50% !important;
    margin: auto;
    position: fixed;
    top: 50% !important;
    transform: translateY(-50%);
    width: 95% !important;
    max-width: 500px;
}

.course-detail-row .ql-action {
    width: max-content;
    padding: 15px 40px;
    background: linear-gradient(183.91deg, #00C7CC 3.24%, #009CD8 96.84%);
    color: #fff;
    border-radius: 5px;
    line-height: 1.2;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    font-size: 16px;
}

.course-detail-row .ql-action::after,
.course-detail-row .ql-snow .ql-tooltip::before {
    margin: 0 !important;
}

.course-detail-row .ql-snow .ql-tooltip.ql-editing input {
    display: inline-block;
    border-radius: 4px !important;
    border: 1px solid #B1B6BF !important;
    margin: 0px 10px !important;
}

.course-detail-row .ql-snow .ql-tooltip.ql-editing input:focus {
    outline: 0;
}

.course-right .quill-editor .card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
}

.new-resource-main-card {
    padding-top: 50px !important;
}

.res .dropdown-item {
    font-size: 10px;
    padding: 0px 10px;
}

.res .dropdown-menu {
    box-shadow: 0px 0px 14.86px 0px #0000000F;
    border-radius: 4px;
    border: 1px solid #E9EAF0;
}

.add-course-form.Course-form .form-group>div>div {
    padding: 0;
}

.modal .add-course-form .field-control {
    padding: 0;
    margin: 0;
}

.coursemodal .custom-button {
    border-radius: 59px;
    font-weight: 400;
    padding: 15px 33px;
    white-space: nowrap;
    border: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.008em;
    text-align: center;
    background-color: transparent !important;
}

.coursemodal .form-group input {
    border: 1px solid #B1B6BF !important;
}

.coursemodal .Course-form label {
    background-color: #fff;
}

.addcourse-section .formgroup input {
    font-weight: 600;
    color: #000 !important;
    font-size: 20px;
}

.course-right:has(> form) {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 4px 14px 0px #00000026;

}

.slect-input {
    flex-wrap: wrap;
}

.ql-video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0003;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.ql-video-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.course-detail-row .ql-snow .ql-tooltip.ql-editing input {
    display: block;
    margin: 15px 0px 30px !important;
    width: 100% !important;
    padding: 20px;
}

.ql-snow .ql-tooltip[data-mode=video]::before {
    content: "Video Url";
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    color: #1D2026;
    margin-bottom: 20px;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    font-size: 16px;
    font-weight: 500;
}

.detail-box .drop-box {
    min-width: 27px;
}

.detail-box li {
    gap: 5px;
}

.detail-box li>a {
    word-break: break-all;
}

.course-left-top {
    gap: 10px;
}

.course-left-top .subhead {
    margin-bottom: 0;
}

.add-quiz-fields .add-quiz-question .quiz-multiple-choice input[type=text] {
    margin-bottom: 0px;
}

.add-quiz-question input {
    margin: 0 !important;
}

.editable-input {
    background-color: #656c6d17 !important;
    padding: 7px;
    border-radius: 5px;
    width: 100%;
}

.detail-box li a {
    word-break: break-word;
}

.editable-text {
    word-break: break-word;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 3px;
    transition: background-color 0.2s;

}

.folder-detail .drop-box .dropdown button img {
    max-width: 22px;
    filter: none;
}

.folder-dd-name {
    display: flex;
    gap: 10px;
    align-items: center;
}


.folder-dd-name .dropdown-menu {
    border: 1px solid rgb(228, 228, 228);
    box-shadow: rgba(60, 64, 67, 0.32) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.1) 0px 1px 8px;
}

.folder-dd-name .dropdown {
    opacity: 0;
    transition: all 0.3s ease;
}

.folder-detail .drop-box:hover .dropdown {
    opacity: 1;
}

.detail-box li.active_lecture {
    background-color: #00b5d1;
    color: white !important;
}

.tab-buttons.editor-buttons button {
    background-color: transparent !important;
}

.folder-detail {
    h3 {
        font-size: 1rem !important;
    }
}

.detail-box li {
    font-size: 15px !important;

    >div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: background 0.2s ease;
        min-height: 28px;
    }
}

.detail-box li>a {
    width: calc(100% - 30px);
}

.detail-box li .drop-box {
    overflow: visible !important;
}

.folder-detail h3 {
    font-size: 16px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background 0.2s ease;
}

label.custom_check span {
    border-radius: 50%;
}

.detail-box li .drop-box {
    overflow: visible !important;
}

.main-panel:has(.new-student-page-wrapper) .Course-form .row>div:has(.thumbnail-block),
.main-panel:has(.new-student-page-wrapper) .Course-form .row:has(.thumbnail-block) {
    margin-bottom: 1rem !important;
}

.quiz-wrapper .field-control:focus-visible,
.quiz-wrapper .field-select-control:focus-visible,
.quiz-wrapper .field-text-area-control:focus-visible {
    outline: 0px !important;
    border: 1px solid rgb(233, 234, 240) !important;
    color: #343837 !important;
}

.course-right-header {
    display: block !important;
}

.course-right-header p {
    word-break: break-all;
}

.main-panel:has(.publish-form-section)>.title-top {
    position: absolute;
    top: 0;
    padding: 30px 0px;
    background-color: #fff !important;
    width: 100%;
    left: 0;
    right: 0;
}

.detail-page-header {
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.db-cats {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.publish-form-section .publish-course-wrapper {
    margin-top: 10rem;
}

.cat-name,
.dp-info .submit-btn {
    background: linear-gradient(183.91deg, #00C7CC 3.2%, #009CD8 96.81%);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    color: #fff !important;
    width: fit-content;
    padding: 4px 12px !important;
    border-radius: 4px;
}

.dp-title-name {
    width: 80%;
}

.dp-main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dp-title-name p {
    font-size: 2rem;
}

.dp-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 19%;
    gap: 16px;
}

.dp-info .cancel-btn {
    padding: 5px 15px;
}

.dp-info .submit-btn {
    cursor: pointer;
}


.progress-wrap {
    display: block;
    width: 100%;
    margin: 20px 0px;
}

.progress-wrap .progress-bar-label {
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    width: 100%;
    transform: none !important;
}

.course-left {
    width: 100%;
}

.EnrolledCourseDetail .title-top {
    justify-content: left;
}

.lecture-curriculum {
    padding: 20px;
}

.lecture-curriculum .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lecture-curriculum .circle-loader {
    margin-left: 10px;
    border-radius: 15px;
}

// may06 NT
.course-right-header .content {
    font-size: 13px;
}

.detail-box li:hover {
    color: #fff !important;
}

.search-lectures.btm-box,
.section-border.row .lec-left.btm-box,
.admin-left-sec {
    padding: 0 !important;
}

.folder-detail {
    padding: 10px 0px;
    border-top: 1px solid #e5e7eb;
    box-shadow: none;
    margin-bottom: 0;
}

.folder-detail:first-child {
    border-top: 0px;
}

.folder-detail .drop-box {
    padding: 0px 10px;
}

.detail-box li {
    border-radius: 0px;
    padding: 10px 20px;
    gap: 10px;
}

.detail-box li:hover {
    background-color: #f3f4f6;
    color: #000 !important;
}

.detail-box li img {
    max-width: 18px;
}

.course-left-top {
    gap: 10px;
    padding: 10px 10px 0px;
}

.main-panel .main-content-wrapper:has(.course-top) {
    padding: 0 !important;
    margin: 0 !important;
}

.main-panel .main-content-wrapper:has(.course-top) .publish-form-section {
    max-width: 100% !important;
}

.course-right-header .content.content-info-lecture p {
    margin: 0px !important;
    font-size: 16px !important;
    line-height: 1.6;
}

.lecture-quill-edit .ql-editor p {
    margin: 0px !important;
    font-size: 16px !important;
    line-height: 1.6;
}

.modal-description .content.course-detail-info p {
    margin: 0px !important;
    font-size: 16px !important;
    line-height: 1.6;
}

.EnrolledCourseDetail .lecture-curriculum p {
    margin: 0px !important;
    font-size: 16px !important;
    line-height: 1.6;
}

.db-cats:has(.cat-name) {
    margin-top: 1rem;
}

.detail-box li.active_lecture>a {
    color: #fff !important;
}

.detail-box li.active_lecture:hover>a {
    color: #000 !important;
}

.student-table-row {
    width: 100%;
}




// POP UP 
/* Custom SweetAlert2 Styles */
.swal2-popup.custom-congrats {
    padding: 2em 1.5em;
    width: 340px;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    text-align: center;
    position: fixed !important;
    bottom: 1.5rem;
    right: 1.5rem;
    transform: none !important;
}

.swal2-title.congrats-title {
    font-size: 1.5rem;
    color: #36c187;
    margin-top: 1rem;
    font-weight: 600;
}

.swal2-html-container.congrats-text {
    color: #6b7280;
    font-size: 0.9rem;
    margin: 0.5rem 0 1.5rem;
}

.swal2-confirm.done-btn {
    background-color: #36c187 !important;
    color: white !important;
    border-radius: 6px !important;
    font-weight: 600 !important;
    padding: 0.5em 1.5em !important;
    font-size: 0.875rem !important;
    box-shadow: none !important;
}

// .swal-shadow-popup {
//     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
//     border-radius: 12px;
//     padding: 20px;
// }

.swal-shadow-popup {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 24px;
    width: 380px !important;
    animation: popupFadeIn 0.3s ease;
}

@keyframes popupFadeIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.swal-dislike-popup {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    padding: 24px;
    width: 380px !important;
  }
  
  .swal-dislike-select {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 70%;
    outline: none;
    margin-left: 48px !important;
    background-color: #f9f9f9;
    transition: border 0.2s;
  }
  
  .swal-dislike-select:focus {
    border-color: #4f46e5;
    background-color: #fff;
  }
  
  .swal-dislike-confirm {
    background-color: #FF2C32 !important; /* red */
    color: white !important;
    border-radius: 6px !important;
    padding: 10px 20px !important;
    font-weight: bold;
  }
  
  .swal-dislike-cancel {
    background-color: #FFEEEE !important; /* light gray */
    color: #6E7485 !important;           /* dark text */
    border-radius: 6px !important;
    padding: 10px 20px !important;
  }


  .dismiss-btn {
    background-color: #e5e7eb !important; /* light gray */
    color: #374151 !important; /* dark text */
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 20px;
    margin-left: 10px;
  }

  .like-btn {
    background-color: #0399c5 !important; /* green */
    color: white !important;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 20px;
  }

  .dislike-btn {
    background-color: #CCECF7 !important; /* red */
    color: #019ED8 !important;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 20px;
  }

  .swal-custom-title {
    color: #6E7485; 
    font-weight: 500;
    font-size: 25px;
    font-family: 'Montserrat';
  }

  .swal-dislike-title{
    color: #6E7485; 
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat';
  }

  .publish-form-section .detail-page-header .dp-main-box .dp-info {
    width: 23%;
    align-items: center;
    flex-direction: row;
}
// END POP
@media only screen and (max-width:1199px) {
    .dp-title-name p {
        font-size: 1.5rem;
    }

    .dp-title-name {
        width: 55%;
    }

    .dp-info {
        width: 44%;
    }
}

@media only screen and (max-width:991px) {
    .access-container {
        flex-wrap: wrap;
    }

    .access-option {
        flex: 0 0 50%;
        border: 1px solid #e0e0e0;
    }

    .access-option:first-child,
    .access-option:nth-child(2) {
        border-bottom: 0;
    }

    .access-option:first-child,
    .access-option:nth-child(3) {
        border-right: 0;
    }

    .Course-form {
        padding-top: 20px;
    }

    .select-label {
        gap: 0px 30px;
    }

    .select-label {
        width: 100%;
        max-height: 200px;
        overflow-y: scroll;
    }

    .course-left-top {
        margin-bottom: 20px;
    }

    .submit-btn,
    .cancel-btn {
        font-size: 14px;
        padding: 10px 20px !important;
    }

    .detail-box li {
        padding: 8px 10px;
    }

    .confirmation-modal:has(.add-link-form) .modal-title.h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .confirmation-modal:has(.add-link-form) .form-group.res-file label {
        font-size: 18px;
    }

    .res {
        background-color: #fff;
    }

    .res .dropdown-toggle {
        padding: 10px 15px;
        padding-right: 25px;
    }

    .res .add-btn a {
        padding: 10px 15px;
    }

    .showing-transcript .subhead {
        transform: translate(0px, -24px);
    }

    .course-detail-row .ql-snow.ql-toolbar button,
    .ql-snow .ql-toolbar button {
        height: 24px;
        padding: 3px 5px;
        display: inline-block;
        width: 28px;
    }

    .trans-res .ql-toolbar.ql-snow {
        padding: 25px 0px 10px;
    }

    .field-quill-control .ql-editor {
        padding: 15px 15px 15px;
    }

    .new-resource-main-card {
        padding: 0px 15px 20px;
    }

    .select-label {
        grid-template-columns: repeat(2, 1fr);
    }

    .tab-buttons.editor-buttons button {
        font-size: 14px;
    }

    .dp-title-name p {
        font-size: 1rem;
    }

    .title-top span,
    .title-top p {
        font-size: 1rem;
    }

    .enroll-top {
        margin-bottom: 2rem !important;
    }

    .EnrolledCourseDetail .section-border.row {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .main-panel .main-content-wrapper:has(.course-top) .publish-course-wrapper>.row {
        flex-direction: column-reverse;
    }

    .admin-left-sec {
        margin-top: 20px;
    }

    .cat-name,
    .dp-info .submit-btn {
        font-size: 14px;
        line-height: 1.4;
    }

    .db-cats:has(.cat-name) {
        margin-top: 0.2rem;
    }

    .dp-info {
        gap: 5px;
    }

    .main-panel:has(.publish-form-section) .course-top {
        padding: 20px 0px;
    }

    .dp-main-box {
        align-items: start;
    }

    .course-detail-row>.row {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:767px) {
    .coursemodal .modal-content {
        padding: 40px;
        max-width: 401px;
        margin: auto;
        border-radius: 15px;
    }

    .confirmation-modal:has(.add-link-form) .modal-content {
        padding: 20px;
        border-radius: 15px;
    }

    .confirmation-modal:has(.add-link-form) .form-control {
        padding: 11px;
    }

    .coursemodal .modal-header .modal-title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .confirmation-modal .custom-footer-class .custom-button {
        padding: 10px 25px;
    }

    .select-label {
        grid-template-columns: repeat(2, 1fr);
    }

    .coursemodal .modal-footer button {
        font-size: 12px;
    }

    .course-right {
        margin-top: 20px;
    }

    .custom-radio {
        height: 18px;
        width: 18px;
        min-width: 18px;
    }

    .access-option.selected .custom-radio:after {
        height: 10px;
        width: 10px;
    }

    .course-detail-row .ql-snow .ql-tooltip.ql-flip {
        padding: 25px;
    }

    .ql-snow .ql-tooltip[data-mode=video]::before {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .course-detail-row .ql-action {
        padding: 12px 25px;
    }

    .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
        font-size: 16px;
    }

    .title-top span,
    .title-top p {
        font-size: 1rem;
    }

    .subhead {
        font-size: 16px;
    }

    .toggle-wrapper .toggle-label {
        font-size: 16px;
    }

    .dp-info p {
        font-size: 14px !important;
        line-height: 1.2;
    }

    .EnrolledCourseDetail .lecture-curriculum p {
        font-size: 14px !important;
    }

    .product-details h3 {
        font-size: 18px;
    }

    .course-right .formgroup input[type=text] {
        width: 100% !important;
    }
}

@media only screen and (max-width:575px) {
    .select-label {
        grid-template-columns: repeat(1, 1fr);
    }

    .confirmation-modal:has(.add-link-form) .modal-title.h4 {
        font-size: 16px;
    }

    .confirmation-modal:has(.add-link-form) .form-group.res-file label {
        font-size: 16px;
    }

    .detail-page-header {
        padding: 0px 15px;
    }

    .dp-title-name {
        width: 48%;
    }

    .dp-info {
        width: 52%;
    }

    .modal-description .content.course-detail-info p,
    .course-right-header .content.content-info-lecture p {
        font-size: 14px !important;
    }

    .dp-main-box {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .dp-info {
        width: 100%;
        align-items: center;
    }

    .dp-title-name {
        width: 100%;
    }

    .dp-main-box * {
        justify-content: center;
    }

    .lecture-quill-edit .ql-editor p {
        font-size: 14px !important;
    }

    .toggle-wrapper .toggle-label {
        font-size: 14px;
    }

    .access-option {
        flex: 0 0 100%;
        border-right: 0px;
        border-bottom: 0px;
    }

}


.publish-course-wrapper p a {
    color: #2da5f3 !important;
}





.EnrolledCourseDetail .right-view-course-detail {
    margin-top: 10px;
    padding: 0px 20px;
}

.section-border {
    margin-top: 16px !important;
}

.lecture-right .lecture-curriculum>p p {
    font-size: 15px !important;
    font-weight: 600;
}

.lecture-right .lecture-curriculum .modal-resources.modal-description h5,
.lecture-right .lecture-curriculum .modal-description h5 {
    font-size: 22px;
}

.publish-form-section .course-top .dp-main-box .dp-title-name .cat-name {
    border-radius: 120px;
    font-weight: 500;
    font-size: 14px;
}