@import '@constants/colors.scss';
@import '@constants/typography.scss';
@import '@constants/media.scss';
.graph-card {
    margin: 1rem 0rem 2rem;
    // background: linear-gradient(242.19deg, #2C2C2C 0%, #111111 100%);
    background: rgba(31,39,41, 1);
    border-radius: 16px;
    border: 1px solid #ffffff80;


    .card-header {
        background-color: #f9f9f9; // Light grey background for the header
        padding: 16px 24px; // Adequate padding for a balanced look
        font-size: 16px; // Suitable font size for the header title
        color: #333333; // Darker text for better readability

        .form-select {
            width: auto; // Auto width based on content
            border-color: #cccccc; // Light border for the select box
            &:focus {
                box-shadow: none; // Remove the default focus shadow
                border-color: #999999; // Darker border on focus
            }
        }
    }

    .card-body {
        padding: 24px; // Consistent padding with the header
        // background-color: rgba(247, 249, 251, 1);
        background-color: transparent;
        border-radius: 16px;
    }

    .chart-container {
        padding: 0; // Remove padding if any
    }

    .nav-tabs {
        border-bottom: unset !important;
        .nav-item {
            .nav-link {
                margin-right: 5px; // Space between tabs
                padding: 12px 16px; // Comfortable padding for easy clicking
                background: unset !important;
                border: unset !important;
                // color: rgba(28, 28, 28, 0.4);
                color: rgb(190, 188, 188);

                &:hover {
                    color: #8f8c8c; // Darker text on hover for better interaction
                    background-color: #f5f5f5; // Light background on hover
                }

                &.active {
                    color: #fff ;// White text for active tab
                    background-color: unset !important;
                    border-color: unset !important;
                }
            }
        }
    }

    // Select
    .custom-form-select {
        background: rgb(45, 54, 56);
        color: #fff;
    }
    .custom-form-select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url('../../../assets/icons/down-arrow.svg') no-repeat;
        background-color: rgba(229, 236, 246, 1);
        background-position: right 20px top 50%;
        background-size: 20px;
        padding: 12px 20px;

        cursor: pointer;
        min-width: 150px !important;
        font-family: Inter;
        border-radius: 1rem;
    }

    .form-check-input:checked {
        background: rgba(1, 159, 216, 1);
    }
    input[type='checkbox'] {
    }

    /* Styling for the unchecked state */
    input[type='checkbox']:not(:checked) {
        background-color: white !important;
        border-color: $info-color !important;
    }

    /* Styling for the checked state */
    input[type='checkbox']:checked {
        background-color: $info-color !important;
        border-color: white !important;
    }
}
