@import '@constants/colors.scss';
@import '@constants/media.scss';

.custom-table {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    // background: rgba(255, 255, 255, 1);
    // box-shadow: 0px 0px 14.83px 0px rgba(0, 0, 0, 0.06);

    .ag-theme-alpine {
        // height: calc(100vh - 14rem);
        // overflow-y: scroll;

        // Make the cells padding and alignment w.r.t height
        // Add the text expandable id here
        // .ag-row
        //     .ag-cell:not([col-id='coursesRoadmap']):not([col-id='email']):not([col-id='name']):not(
        //         [col-id='joinLink']
        //     ):not([col-id='notes']) {
        //     display: flex;
        //     justify-content: start;
        //     align-items: center;
        // }
        // .ag-row .ag-cell[col-id='coursesRoadmap'],
        // .ag-row .ag-cell[col-id='name'],
        // .ag-row .ag-cell[col-id='email'],
        // .ag-row .ag-cell[col-id='joinLink'] {
        //     padding: 10px;
        // }
        .ag-row .ag-cell {
            // padding: 10px;
            display: flex;
            justify-content: start;
            align-items: center;
        }
    }

    .search-input {
        max-width: 390px;
        border-radius: 59px;
        background-color: rgba(245, 248, 249, 1);
        // border: 1px solid rgba(255, 255, 255, 0.5019607843) !important;
        color: #fff !important;
    }

    .search-input:focus-visible {
        outline-color: rgba(146, 159, 165, 1) !important;
        border: 1px solid #dee2e6 !important;
        color: rgba(71, 81, 86, 1);
    }

    .input-group-text {
        background: rgba(245, 248, 249, 1) !important;
        border-radius: 59px;
    }

    .ag-center-cols-clipper {
        min-height: 450px !important;
    }

    // Root
    // Remove the default border and background color of the table
    // .ag-root-wrapper {
    //     background-color: transparent;
    //     border: unset !important;
    //     border-radius: 10px;
    // }

    // Header
    .ag-header-cell {
        // color: $table-text-color;
        text-transform: capitalize;
    }

    .ag-header {
        background-color: #fff !important;
        // border-bottom: none !important;
        // border-radius: 80px;
        // text-align: start !important;
        // background: linear-gradient(90.19deg, #00c7cc -0.27%, #009cd8 99.11%);
    }
}

// Rows
.data-table-row {
    // color: rgba(85, 95, 126, 1);
    border-bottom: 0.89px solid rgba(233, 234, 243, 1);
    // color: #fff;
    border-bottom: 0.89px solid rgb(233, 234, 243);
    background-color: transparent;
}

// Rows padding and height

// Pagination
.ag-paging-panel {

    // Hide extra information
    .ag-paging-page-size {
        display: none;
    }

    .ag-paging-row-summary-panel {
        display: none;
    }

    .ag-paging-page-summary-panel div:first-child,
    div:last-child {
        display: none;
    }

    // Apply the color to only active page
    .ag-paging-page-summary-panel div:not(.ag-disabled) {
        @include pagination-gradient;
        padding: 8px;
        border-radius: 11px;

        .ag-icon-previous,
        .ag-icon-next {
            color: white;
        }
    }

    // Disable Button class
    .ag-paging-page-summary-panel div.ag-disabled {
        padding: 8px;
        border-radius: 11px;
        background: rgba(253, 253, 253, 1);
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    }
}

// Adjust the children responsive width
@media (max-width: $medium-screen) {
    .search-input {
        max-width: 100%;
    }
}

.ag-theme-alpine.custom-table {
    background-color: transparent;
    border: 1px solid #ffffff80 !important;
    padding: 30px;
    border-radius: 16px;

    @media only screen and (max-width:991px) {
        padding: 15px;
    }
}

// .ag-theme-alpine.custom-table .ag-icon-none,.ag-theme-alpine.custom-table .ag-icon-menu,.ag-theme-alpine.custom-table .ag-icon-asc  {
//     color: #fff;
// }

.coaches-page .ag-theme-alpine.custom-table .edit-button .action-icon {
    filter: invert(1);
}

// .ag-input-field-input,.ag-paging-panel,.form-control::placeholder ,.ag-icon-desc{
//     color: #fff !important;
// }

.custom-table * {
    font-size: 16px;
}

.custom-table .ag-paging-panel {
    border-top: 0px !important;
}

.custom-table .ag-root-wrapper .svg-inline--fa {
    height: 2em;
}

.custom-table .ag-root-wrapper-body {
    border-radius: 6px;
    // box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.1490196078);
    margin-bottom: 20px;
    border: 1px solid #dde2eb;
    overflow: hidden;
}


// student table may02
.student-table .top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    padding: 30px 0px;
}

.student-table .ag-theme-alpine {
    margin-top: 120px;
}

.student-table-row {
    max-width: 1440px;
    margin: auto;
}

.students-page .button-wrapper {
    margin-bottom: 0rem !important;
}

.student-table.custom-table .ag-theme-alpine .ag-row .ag-cell {
    border-right: 1px solid #dde2eb;
}

.student-table.custom-table .ag-theme-alpine .ag-pinned-right-cols-container .ag-cell {
    border-right: 0;
}

.student-table.custom-table .ag-root-wrapper {
    background: transparent;
    border: 0px;
}

.student-table.custom-table .ag-theme-alpine .ag-row.ag-row-odd:last-child .ag-cell,
.student-table.custom-table .ag-theme-alpine .ag-row:last-child {
    border-bottom: 0px;
}

.student-table.custom-table .ag-header,
.student-table.custom-table .ag-advanced-filter-header {
    border-bottom: 1px solid #dde2eb;
}

.student-table.custom-table .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
    border-left: 1px solid #dde2eb;
}

.student-table.custom-table .ag-pinned-right-header {
    border-left: 0px;
}

.student-table.custom-table .ag-header-cell-text,
.student-table.custom-table p,
.student-table.custom-table .ag-theme-alpine .ag-row .ag-cell {
    color: #767c8b;
    text-align: center;
}

.student-table.custom-table .ag-paging-panel .ag-paging-page-summary-panel div.ag-disabled {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-table.custom-table .ag-theme-alpine .ag-header-row{
    font-weight: 600;
}

.student-table.custom-table .avatar-image {
    width: 32px;
    height: 35px;
    border-radius: 4px;
}

@media only screen and (max-width:1499px) {
    .student-table-row {
        max-width: 950px;
    }
}