@import './constants/colors.scss';
@import './constants/typography.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, body * {
    font-family: "Montserrat", sans-serif !important;
}

:root {
    font-family: $font-primary;
    line-height: $line-height-medium;
    color-scheme: light dark;
    color: $light-color;
    background-color: $dark-color;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
span,
button,
input,
label,
select,
option,
textarea,
table,
th,
td,
input,
p {
    font-family: $font-primary;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

a {
    font-weight: 500;
    color: $link-color;
    text-decoration: none;
}
a:hover {
    color: $link-hover-color;
}

body {
    margin: 0;
    background-color:#1d2120;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: $body-bg-color;
    border-radius: 10px;
}

// /* Handle */
::-webkit-scrollbar-thumb {
    background: #009cd8;
    border-radius: 10px;
}

// /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #009cd8;
}
p,
ul {
    margin: 0px;
    padding: 0px;
}
button {
    border-radius: 8px;
    border: 1px solid $btn-info-bg-color;
    padding: 0.6em 1.2em;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    font-family: $font-primary;
    background-color: $btn-primary-bg-color;
    color: $btn-primary-color;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: $btn-secondary-bg-color;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: $dark-color;
        // background-color: $light-color;
    }
    a:hover {
        color: $link-hover-color;
    }
}

.ag-center-cols-container {
    min-width: 100%;
}

input,
.form-select,
.form-control {
    // background-color: white !important;
    background-color: rgb(31 39 41) !important
}
.form-control:focus {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}
.cursor-pointer {
    cursor: pointer;
}

// Fix the globally all dropdowns on Click colors
.dropdown-item:active {
    background-color: unset !important;
}
// Fix edit button on hover on image change

.image_wrapper {
    position: relative;
}

.image-renderer {
    position: relative;
}

.img-wrapper {
    position: relative;
}

.img-wrapper img {
    display: block;
    // border-radius: 50%;
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
}

.overlay-image {
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: transparent;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        height 300ms ease-in-out,
        color 300ms ease-in-out;
    cursor: pointer;
}

.img-wrapper:hover .overlay-image {
    height: 50%; /* Adjust height as needed */
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* General styling for the radio input */
input[type='radio'] {
    background-color: $info-color !important;
    border-color: $info-color !important;
}

/* Styling for the unchecked state */
input[type='radio']:not(:checked) {
    background-color: white !important;
    border-color: $info-color !important;
}

/* Styling for the checked state */
input[type='radio']:checked {
    background-color: $info-color !important;
    border-color: white !important;
}
.course-grid-layout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
}


.main-panel:has(.students-page) input,.main-panel:has(.students-page) .form-select,.main-panel:has(.students-page)  .form-control {
    background-color: #fff !important;
}

.swal2-container * {
    font-family: "Montserrat" !important;
}
