@import './constants/colors.scss';
@import './constants/typography.scss';
@import './styles/Coaches.scss';
@import './styles/Students.scss';
@import './styles/Courses.scss';
@import './styles/Events.scss';
@import './styles/Payments.scss';
@import './styles/Settings.scss';
@import './styles/VisualizeCsv.scss';
@import './styles/Dashboard.scss';
@import './components/MeetingCard/MeetingCard.scss';

:root {
    font-family: $font-primary;
    line-height: $line-height-medium;

    color-scheme: light dark;
    color: $light-color;
    background-color: $dark-color;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
span,
button,
input,
label,
select,
option,
textarea,
table,
th,
td,
input,
p {
    font-family: $font-primary;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

a {
    font-weight: 500;
    color: $link-color;
    text-decoration: none;
}
a:hover {
    color: $link-hover-color;
}

body {
    margin: 0;
    background-color: $light-color;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: $body-bg-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $dark-color;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $dark-color;
}
p,
ul {
    margin: 0px;
    padding: 0px;
}
button {
    border-radius: 8px;
    border: 1px solid $btn-info-bg-color;
    padding: 0.6em 1.2em;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    font-family: $font-primary;
    background-color: $btn-primary-bg-color;
    color: $btn-primary-color;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: $btn-secondary-bg-color;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: $dark-color;
        background-color: $light-color;
    }
    a:hover {
        color: $link-hover-color;
    }
}

.ag-center-cols-container {
    min-width: 100%;
}

input,
.form-select,
.form-control {
    &:focus {
        box-shadow: none !important;
        outline: none !important;
        border: none !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

// Fix the globally all dropdowns on Click colors
.dropdown-item:active {
    background-color: unset !important;
}
// Fix edit button on hover on image change

.image_wrapper {
    position: relative;
}

.image-renderer {
    position: relative;
}

.img-wrapper {
    position: relative;
}

.img-wrapper img {
    display: block;
    border-radius: 50%;
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
}

.overlay-image {
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: transparent;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        height 300ms ease-in-out,
        color 300ms ease-in-out;
    cursor: pointer;
}

.img-wrapper:hover .overlay-image {
    height: 50%; /* Adjust height as needed */
    color: white;
}
